<!-- Asset Manager -->
<div *ngIf="fund">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="w-col-md-4 w-col-md-offset-13 control-label">Wealins fees</label>
            <div class="form-group w-col-md-7">                
                <percent-amount [(percent)]="fund.assetManagerFee" 
                                [(flatAmount)]="fund.finFeesFlatAmount"
                                [(currency)]="fund.assetManFeeCcy"
                                [currencyList]="currencyList"
                                [defaultCurrency]="defaultCurrency"
                                [disabled]="disabled"></percent-amount >
            </div>
        </div>
        <div class="form-group">
            <label for="financialAdvisor" class="w-col-md-4 control-label">Financial Advisor</label>
            <div class="w-col-md-9">
                <search-agent [(agentId)]="fund.financialAdvisor" [type]="agentSearchTypes" [disabled]="disabled" [showLabel]="true" searchForAgent="FA"></search-agent>
            </div>
            <label for="financialAdvisor" class="w-col-md-4 control-label">Financial Advisor fees</label>
            <div class="form-group w-col-md-3"> 
                <div class="form-inline">
                    <w-number  [(number)]="fund.finAdvisorFee" css="form-control input-sm text-right input-percent" [disabled]="disabled" [precision]=6></w-number>%
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label class="w-col-md-4 control-label">Custodian Bank</label>
            <div class="w-col-md-9">
                <search-agent [(agentId)]="fund.depositBank" [type]="'DB'" [disabled]="disabled"></search-agent>
            </div>
            <label class="w-col-md-4 control-label">Custody fees(TTC)</label>
            <div class="form-group w-col-md-7">               
                <percent-amount [(percent)]="fund.bankDepositFee"
                                [(flatAmount)]="fund.depositBankFlatFee"
                                [(currency)]="fund.bankDepFeeCcy"
                                [currencyList]="currencyList"
                                [defaultCurrency]="defaultCurrency"
                                [disabled]="disabled">
            </percent-amount >
            </div>
        </div>   
    </div>
</div>

