<div class="relative">
    <div [ngBusy]="subs">
        <div class="mini-form row">
            <div class="row">
                <label class="marginTop col-md-2 text-right">Policy </label>
                <div class="form-group col-md-2">
                    <policy-picker [policySearchString]="form?.policyId" [mode]="policyIdDisabled ? stateMode.readonly : mode" (onPolicyChange)="onPolicyChange($event)">
                    </policy-picker>
                </div>
                <label class="marginTop col-md-2 text-right">CPS 2</label>
                <div class="form-group col-md-2">
                    <select class="form-control input-sm text-left" id="cps2" name="cps2" [(ngModel)]="form.secondCpsUser" [desactive]="mode">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let a of usersList" [ngValue]="a.usrId">{{a.name0}}</option>
                    </select>
                </div>
            </div>
            <ng-container *ngIf="policy">
                <!-- Non editable section -->
                <div class="row" class="col-md-12">
                    <policy-clients [product]="policy.product" [policyHolders]="policy.policyHolders" [insureds]="policy.insureds" [deathBeneficiaries]="policy.deathBeneficiaries"
                        [lifeBeneficiaries]="policy.lifeBeneficiaries" [otherClients]="policy.otherClients">
                    </policy-clients>
                    <policy-death-life-clauses [firstPolicyCoverages]="policy.firstPolicyCoverages" [clauses]="policyClauses">
                    </policy-death-life-clauses>
                </div>
            </ng-container>
        </div>
        <div class="line-break"></div>
        <div class="line-break"></div>
        <div class="mini-form row" *ngIf="showEditionSection && policy">
            <!-- Editable section -->
            <div class="row" class="col-md-12">
                <div class="row">
                    <label class="marginTop col-md-2 text-right">Date of change </label>
                    <div class="form-group col-md-2">
                        <datepicker [maxDate]="maxDate" [disabled]="mode == stateMode.readonly" [(date)]="form.changeDate"></datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="title col-md-5">Relations</div>
                </div>

                <!-- Policy holders -->
                <policy-holder-input
                    [policyHolders]="form.policyHolders"
                    [showDead]="false"
                    [mode]="mode"
                    [modesOverride]="{usufructuary:'readOnly', bareOwner:'readOnly', 'search-client':'readOnly'}"
                    [policyHolderActivationFlag]="policyHolderActivationFlag"
                    [formId]="form?.formId"
                    [product]="policy.product"
                    [term]="term"
                ></policy-holder-input>

                <!-- Beneficiaries of death -->
                <beneficiary-input *ngIf="isNotCapi" [benefActivationFlag]="benefActivationFlag" [beneficiaries]="form.deathBeneficiaries"
                    [benefTypeSuffix]="'death'" [mode]="mode"></beneficiary-input>

                <!-- Beneficiaries of maturity -->
                <beneficiary-input *ngIf="showBenefLifeClause" [benefActivationFlag]="benefActivationFlag" [beneficiaries]="form.lifeBeneficiaries"
                    [benefTypeSuffix]="'maturity'" [mode]="mode"></beneficiary-input>

                <div class="line-break"></div>
                <div class="line-break"></div>

                <other-relations-input [formId]="form.formId" [otherClients]="form.otherClients" [cPRRoleList]="cPRRoleList" [mode]="mode">
                </other-relations-input>

                <div class="row">
                    <div class="title col-md-5">Clauses</div>
                </div>

                <policy-clauses-input [formId]="form?.formId" [clauseType]="'D'" [product]="policy.product" [clauseForms]="form.deathBenefClauseForms"
                    [benefClauseStdList]="benefClauseStdList" [mode]="mode"></policy-clauses-input>

                <policy-clauses-input *ngIf="showBenefLifeClause" [formId]="form?.formId" [clauseType]="'L'" [product]="policy.product" [clauseForms]="form.lifeBenefClauseForms"
                    [benefClauseStdList]="benefClauseStdList" [mode]="mode"></policy-clauses-input>
            </div>
        </div>

        <section *ngIf="isWorkflowCompleted && beneficiaryChange && policyClausesBefore">
            <div  class="mini-form row">
                <div class="col-xs-12 text-center">
                    <h4>>> Previous Values on policy <<</h4>
                </div>
                <div class="col-xs-12">
                    <policy-clients [product]="policy.product" [policyHolders]="beneficiaryChange.policyHolders"
                    [deathBeneficiaries]="beneficiaryChange.deathBeneficiaries" [lifeBeneficiaries]="beneficiaryChange.lifeBeneficiaries"
                    [otherClients]="beneficiaryChange.otherClients"></policy-clients>
                </div>
                <div class="col-xs-12">
                    <policy-death-life-clauses [firstPolicyCoverages]="policy.firstPolicyCoverages" [clauses]="policyClausesBefore"></policy-death-life-clauses>
                </div>
            </div>
        </section>

    </div>
</div>