<section title="policy-frund-fees">

    <!-- Fees bund to funds (such as admin fees and commissions -->
    <div class="fund-fees-table col-md-12">
        <table class="table dataTable table-striped table-hover fullwidth" role="grid">
            <thead>
                <tr role="row">
                    <th></th>
                    <th>Fund</th>
                    <th>Admin Fees</th>
                    <th>Commission</th>
                    <th *ngIf="mode === stateMode.edit && valuation?.holdings?.length > 1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let holding of (valuation?.holdings); let i = index">
                    <td><span class="fund-badge">{{  holding?.fundSubType?.trim() }}</span></td>
                    <td style="word-wrap: break-word">
                        <span><a highlight="text-danger" [pattern]="fundNameRegXp" target="_blank" [routerLink]="'/fund/'+ holding.fundSubType.trim() + '/' + holding.fundId">{{ (!!holding?.fundDisplayName) ? holding?.fundDisplayName : holding?.fundId}}</a></span>
                    </td>
                    <td class="fees-input">
                        <div class="form-inline">
                            <w-number  [(number)]="holding.feeRate" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number> % 
                        </div>
                    </td>
                    <td class="fees-input">
                        <div class="form-inline">
                            <w-number  [(number)]="holding.commissionRate" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number> %
                        </div>
                    </td>
                    <td *ngIf="mode === stateMode.edit && valuation?.holdings?.length > 1">
                        <button class="btn btn-xs btn-secondary" type="button" (click)="applyToAll(holding)"
                       title="Apply the fees to all funds"><i class="fa fa-copy" aria-hidden="true"></i></button>
                    </td>
                </tr>
                <tr *ngIf="valuation == null || !valuation.holdings || valuation.holdings.length == 0">
                    <td colspan="4" class="text-center"><p>No result found </p></td>
                </tr>
            <tbody>
        </table>
    </div>

</section>