<div class="relative">
    <div [ngBusy]="subs">
        <div class="mini-form row">
            <div class="row">
                <label class="marginTop col-md-2 text-right">Policy </label>
                <div class="form-group col-md-2">
                    <policy-picker [policySearchString]="form?.policyId" [mode]="policyIdDisabled ? stateMode.readonly : mode" (onPolicyChange)="onPolicyChange($event)">
                    </policy-picker>
                </div>
                <label class="marginTop col-md-2 text-right">CPS 2</label>
                <div class="form-group col-md-2">
                    <select class="form-control input-sm text-left" id="cps2" name="cps2" [(ngModel)]="form.secondCpsUser" [desactive]="mode">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let a of usersList" [ngValue]="a.usrId">{{a.name0}}</option>
                    </select>
                </div>
            </div>

            <ng-container *ngIf="policy">
                <!-- Non editable section -->
                <div class="row" class="col-md-12">

                    <!-- Clients (policy holders, insured, beneficiaries, other clients, etc..)  if workflow is not already completed -->
                    <div class="analysis-section" *ngIf="!isWorkflowCompleted">  
                        <policy-clients 
                            [product]="policy.product" 
                            [policyHolders]="policy.policyHolders" 
                            [insureds]="policy.insureds" 
                            [deathBeneficiaries]="policy.deathBeneficiaries"
                            [lifeBeneficiaries]="policy.lifeBeneficiaries" 
                            [otherClients]="policy.otherClients">
                        </policy-clients>
                    </div>
                    
                    <!-- partners -->
                    <div class="analysis-section">
                        <policy-partners *ngIf="!isWorkflowCompleted"
                            [broker] = "policy.broker"
                            [brokerContact] = "policy.brokerContact"
                            [subBroker] = "policy.subBroker"
                            [contactFunctions]="contactFunctions"
                            [displayBusinessIntroducer]="false"
                            [displayCountryManagers]="false"
                            [brokerRefContract]="policy.brokerRefContract">
                        </policy-partners>

                        <policy-partners *ngIf="brokerChange" [broker] = "brokerChange.broker" [brokerContact] = "brokerChange.brokerContact" [subBroker] = "brokerChange.subBroker" [contactFunctions]="brokerChange.contactFunctions" [brokerRefContract]="brokerChange.brokerRefContract" [displayBusinessIntroducer]="false" [displayCountryManagers]="false" ></policy-partners>
      
                    </div>                   


                    <!-- sending rules -->
                    <div class="analysis-section">
                        <policy-communication *ngIf="!isWorkflowCompleted"
                            [category]="policy.category"
                            [mailToAgent]="policy.mailToAgent"
                            [displayFaxAndMandateLine]="false"
                            [displayNonSurrenderLine]="false"
                            [displayPledgeLine]="false">
                        </policy-communication>

                        <policy-communication *ngIf="brokerChange" [category]="brokerChange.category" [mailToAgent]="brokerChange.mailToAgent" [displayFaxAndMandateLine]="false" [displayNonSurrenderLine]="false" [displayPledgeLine]="false"></policy-communication>               
                    </div>                    

                    <!-- Policy fees    -->
                    <div class="analysis-section">
                        <policy-fees 
                            [showSectionTitle] = "false"
                            [displayEntryFeesLine] = "false"
                            [contractCurrency]= "policy.currency"
                            [valuation]="valuation"
                        ></policy-fees>
                    </div>                    
                </div>
            </ng-container>
        </div>

        <div class="line-break"></div>
        <div class="line-break"></div>

        <!-- Editable section -->
        <div class="mini-form row" *ngIf="showEditionSection && policy">

            <div class="row" class="col-md-12">
                <div class="analysis-section row">
                    <label class="marginTop col-md-2 text-right">Date of change </label>
                    <div class="form-group col-md-2">
                        <datepicker [disabled]="mode == stateMode.readonly" [(date)]="form.changeDate"></datepicker>
                    </div>
                </div>

                <!-- Broker input component (for defining broker, sub-broker, contact person, mandate transmission, etc... -->
                <div class="analysis-section">
                    <policy-broker-input *ngIf="form.broker && form.brokerContact && form.subBroker"
                        [mode]="mode"
                        [broker]="form.broker"
                        (brokerChange)="onBrokerChange($event)"
                        [canShowMandateTransmission]="form.broker.partnerId != wealinsBrokerId"
                        [(brokerRefContract)]="form.brokerRefContract"
                        [(brokerContact)]="form.brokerContact"
                        [canShowContactPerson]="form.broker.partnerId != wealinsBrokerId"
                        [subBroker]="form.subBroker"
                        [canShowSubBroker]="form.broker.partnerId != wealinsBrokerId"
                        [canShowContactRef]="form.broker.partnerId != wealinsBrokerId"
                        (subBrokerChange)="onSubBrokerChange($event)">
                    </policy-broker-input>
                </div>

                <!-- fund fees -->
                <div class="analysis-section row">
                    <policy-fund-fees-input
                        [mode]="mode"
                        [valuation]="form.policyValuation">
                    </policy-fund-fees-input>
                </div>            

                <!-- sending rules -->
                <div class="analysis-section row">
                    <policy-sending-rules-input
                        [mode]="mode"
                        [(sendingRules)]="form.sendingRules"                
                        [(mailToAgent)]="form.mailToAgent"
                        [mail2AgentList]="mail2AgentList"
                        [sendingRuleList]="sendingRuleList">
                    </policy-sending-rules-input>
                </div>
            </div>
    </div>
</div>