<div class="agent-funds">

    <div class="line-break"></div>
        <div class="relative">
            <div [ngBusy]="[busy]">
                <table class="table dataTable table-striped table-hover nomargin fullwidth" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="tab-col-autosize">Code</th>
                            <th class="tab-col-autosize">Status</th>
                            <th>Name</th>
                            <th class="tab-col-autosize">Policies</th>
                            <th class="tab-col-autosize">Currency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fund of page.content">
                                <td>
                                    <span class="text-nowrap">{{ fund?.fdsId }}</span>
                                </td>                                
                                <td>
                                    <ng-container *ngIf="fund" [ngSwitch]="fund.status">
                                        <span *ngSwitchCase="0">Pending</span>
                                        <span *ngSwitchCase="1">Active</span>
                                        <span *ngSwitchCase="2">Inactive</span>
                                        <span *ngSwitchDefault></span>
                                    </ng-container>
                                </td>
                                <td><span class="text-nowrap"><a [routerLink]="'/fund/'+ fund.fundSubType + '/' + encodeUri(fund.fdsId)" target="_blank" highlight="text-danger" [pattern]="regXp">{{ fund?.displayName }}</a></span></td>
                                <td><div *ngFor="let policyId of fund?.policies" class="text-nowrap">
                                        <a *ngIf="policyId!=morePoliciesFlag" [attr.href]="'#/policy?id='+policyId" target="_blank">{{policyId}}</a>
                                        <span *ngIf="policyId==morePoliciesFlag">{{morePoliciesFlag}}</span>
                                    </div>
                                </td>
                                <td class="text-center"><span class="text-nowrap">{{ fund?.currency }}</span></td>
                        </tr>
                    </tbody>
                     <tfoot *ngIf="page.totalPageCount>1">
                        <tr>
                            <td colspan="10" class="text-center">
                            <!-- <ngb-pagination  (pageChange)="searchFunds($event)"
                                    [collectionSize]="page.totalRecordCount" [pageSize]="page.pageSize" [(page)]="sc.pageNum" [maxSize]="10" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination> -->

                            <pagination *ngIf="page.totalPageCount>1" class="text-center" [boundaryLinks]="true" 
                                [totalItems]="page.totalRecordCount" [itemsPerPage]="page.pageSize" [(ngModel)]="sc.pageNum" (pageChanged)="searchFunds($event.page)" [maxSize]="10"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                            </td>
                        </tr>
                    </tfoot>            
                </table>
            


            </div>
        </div>    
</div>