<section subject="transactions">
    <div class="row">
        <div class="title col-md-1 col-md-offset-1">Open Items</div>
        <div class="col-md-5 text-left marginTop2" *ngIf="!page.totalRecordCount">No open Items</div>
    </div>
    <div class="row" *ngIf="page?.totalRecordCount>0">
            <div class="col-md-8 col-md-offset-1" [ngBusy]="[operationEntryBusy]">
                <table cellspacing="0" cellpadding="0" border="0" class="table dataTable table-striped table-hover nomargin" role="table">
                    <thead>
                        <th width="20%">Reference</th>
                        <th width="20%">Type</th>
                        <th width="20%">Step</th>
                        <th width="20%">CPS1</th>
                        <th width="20%">CPS2</th>
                    </thead>
                    <tbody>
                          
                        <ng-container *ngFor="let afe of (page.content | slice:(page.currentPage-1)*page.pageSize:(page.pageSize*page.currentPage)); let i=index">
                            <tr *ngIf="!!afe">
                                <td style="word-wrap: break-word" class="text-right">
                                    <span [ngSwitch]="afe.actionOther ">
                                        <span *ngSwitchCase="'Additional Premium'">
                                            <a highlight="text-danger" target="_blank" [routerLink]="['/workflow/additionalPremium']" [queryParams]="{workflowItemId: afe.workflowItemId }">{{ afe.workflowItemId }}</a> 
                                        </span>
                                        <span *ngSwitchCase="'Beneficiary Change'">
                                                <a highlight="text-danger" target="_blank" [routerLink]="['/workflow/changeBenef']" [queryParams]="{workflowItemId: afe.workflowItemId }">{{ afe.workflowItemId }}</a> 
                                        </span>
                                        <span *ngSwitchCase="'Subscription'">
                                                <a highlight="text-danger" target="_blank" [routerLink]="['/step/1']" [queryParams]="{workflowItemId: afe.workflowItemId }">{{ afe.workflowItemId }}</a> 
                                        </span>
                                        <span *ngSwitchCase="'Withdrawal'">
                                            <a highlight="text-danger" target="_blank" [routerLink]="['/workflow/withdrawal']" [queryParams]="{workflowItemId: afe.workflowItemId }">{{ afe.workflowItemId }}</a> 
                                        </span>
                                        <span *ngSwitchCase="'Surrender'">
                                            <a highlight="text-danger" target="_blank" [routerLink]="['/workflow/surrender']" [queryParams]="{workflowItemId: afe.workflowItemId }">{{ afe.workflowItemId }}</a> 
                                        </span>
                                        <span *ngSwitchDefault >{{ afe.workflowItemId }}</span>
                                    </span>
                                </td>
                                <td style="word-wrap: break-word">{{ afe.actionOther }}</td>
                                <td style="word-wrap: break-word">{{ afe.currentStepName }}</td>
                                <td style="word-wrap: break-word">{{ afe.cps1 }}</td>
                                <td style="word-wrap: break-word">{{ afe.cps2 }}</td>
                            </tr>
                        </ng-container>
                        <td colspan="10" class="text-center" *ngIf="page.totalRecordCount == 0">
                            <p>No result found </p>
                        </td>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="page && page.totalRecordCount>page.pageSize">
                            <td colspan="6" class="text-center">
                                <pagination class="text-center" [boundaryLinks]="true" [totalItems]="page.totalRecordCount" [itemsPerPage]="page.pageSize" [(ngModel)]="page.currentPage"
                                     [maxSize]="10" previousText="&lsaquo;"
                                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

    </div>
</section>