<div class="row">
    <div class="col-sm-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-6 control-label">Pricing Frequency</label>
                <div class="col-sm-6">
                    <select id="priceFreqId" name="priceFreq" class="form-control input-sm" [desactive]="mode" [disabled]="disabled" [(ngModel)]="pricing.pricingFrequency" (ngModelChange)="princingFrequencyChanged($event)">
                            <option *ngFor="let priceFreq of (pricingFrequencyList | orderBy: ['description'])" [ngValue]="priceFreq.number">{{ priceFreq.description }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 nopadding">
        <div class="form-horizontal">
                <label class=" col-sm-8 control-label">Pricing Day</label>
                <div class="col-sm-4 form-inline">
                    <select id="priceDayId" name="priceDay" class="form-control input-sm" [desactive]="mode" [disabled]="pricing.pricingFrequency != 2 && pricing.pricingFrequency != 9"
                        [(ngModel)]="pricing.pricingDay">
                            <option *ngFor="let priceDay of pricingDays" [ngValue]="priceDay.id">{{ priceDay.label }}</option>
                    </select>
                </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-3 control-label">Pricing Day of Month </label>
                <div class="col-sm-6 ">
                    <w-number [disabled]="pricing.pricingFrequency != 3" [desactive]="mode" [(number)]="pricing.pricingDayOfMonth" css="form-control input-sm text-right input-percent"
                        [mode]="mode"></w-number>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / pricing frequency -->

<div class="row">
    <div class="col-sm-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-6 control-label">Pricing delay</label>
                <div class="col-sm-6 form-inline">
                    <select id="priceDelayId" name="priceDelay" class="form-control input-sm" [desactive]="mode" [(ngModel)]="pricing.pricingDelay">
                            <option *ngFor="let priceDelay of priceDelayList" [ngValue]="priceDelay">{{ priceDelay }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-4 control-label">Forward Days Reporting</label>
                <div class="col-sm-6 form-inline">
                    <select id="fwdPriceId" name="fwdPrice" class="form-control input-sm" [desactive]="mode" [(ngModel)]="pricing.fwdPriceReportDays">
                            <option *ngFor="let fwdPrice of fwdPriceReportDaysList" [ngValue]="fwdPrice">{{ fwdPrice }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / pricing delay -->

<div class="row">
    <div class="col-sm-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-6 control-label">NAV Entry Fee</label>
                <div class="col-sm-6 form-inline">
                    <w-number [(number)]="pricing.navEntryFee" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number><span>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class=" col-sm-4 control-label">NAV Exit Fee</label>
                <div class="col-sm-8 form-inline">
                    <w-number [(number)]="pricing.navExitFee" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / NAV fee -->

<ng-content></ng-content>