<section subject="partners">
    <div class="row" >
        <div class="title col-md-5">Partners</div>
    </div>

        <!-- Brokers    -->
        <ng-container *ngIf="displayBrokers && broker">
            <div class="row">
                <label class="col-md-2 text-right">Broker</label>
                <div class="col-md-3" >
                    <div class="row">
                        <div class="col-md-12"><a *ngIf="broker && broker.agent && broker.agent.agtId" [routerLink]="'/agent/' + broker.agent.agtId" target="_blank">{{ broker.agent?.name }} - {{ broker.agent?.agtId }}</a></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <label class="col-md-5 paddingLeft text-right">Mandate transmission</label>
                        <div class="col-md-4">{{broker.partnerAuthorized=="1" ? 'Yes':'No'}}</div>
                    </div>
                </div>
            </div>
            
            <!-- Broker contacts-->
            <ng-container>
                <div class="row" *ngIf="!!brokerContact">
                    <label class="col-md-2 text-right">Contact person</label>
                    <div class="col-md-5" >
                        <div class="row">
                            <div class="col-md-12">
                                <agt-basic-modal-button *ngIf="canOpenInPopup(brokerContact.agent)" [agentId]="brokerContact.agent.agtId" [asLink]="true" [title]="brokerContact.agent.name">
                                    <span asLink>{{ brokerContact.agent.name | capitalize }} <ng-container *ngIf="toContactFunctionDescByContactId(brokerContact.agent.agtId)">({{ toContactFunctionDescByContactId(brokerContact.agent.agtId) }})</ng-container></span>
                                </agt-basic-modal-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <!-- Sub-brokers    -->
            <ng-container>
                <div class="row"  *ngIf="!!subBroker">
                    <label class="col-md-2 text-right">Sub-broker</label>
                    <div class="col-md-5" >
                        <div class="row">
                            <div class="col-md-12">
                                <agt-basic-modal-button *ngIf="canOpenInPopup(subBroker.agent)" [agentId]="subBroker.agent.agtId" [asLink]="true" [title]="subBroker.agent.name">
                                    <span asLink>{{ subBroker.agent.name | capitalize }}</span>
                                </agt-basic-modal-button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            
            <!-- Contract references    -->
            <div class="row" *ngIf="brokerRefContract">
                <label class="col-md-2 text-right">Contract Ref</label>
                <div class="col-md-8"> {{ brokerRefContract }}</div>
            </div>

        </ng-container>    

        <!-- Country managers   -->
        <ng-container *ngIf="displayCountryManagers">
            <div class="row" >
                <div *ngFor="let displayCountryManager of countryManagers; let i=index">
                    <label class="col-md-2 text-right" *ngIf="i==0">Country Manager</label>
                    <div class="col-md-10" [ngClass]="{'col-md-offset-2':i>0}"> {{ displayCountryManager?.agent?.name + ' - ' + displayCountryManager?.agent?.agtId }}</div>
                </div>
            </div>
        </ng-container>
 
        <!-- Business introducers   -->
        <ng-container *ngIf="displayBusinessIntroducer && businessIntroducer">
            <div class="row">
                <div>
                    <label class="col-md-2 text-right">Business Introducer</label>
                    <div class="col-md-10" [ngClass]="{'col-md-offset-2':i>0}"> {{ businessIntroducer?.agent?.name + ' - ' + businessIntroducer?.agent?.agtId }}</div>
                </div>
            </div>
        </ng-container>

</section>