<div class="form relative" >
  <div [ngBusy]="subs">
<!-- Application Nr -->
    <div class="row" *ngIf="!(mode =='waiting' || mode =='readOnly')">
        <label class="marginTop col-md-2 text-right">Product</label>
        <div class="form-group col-md-3">
            <select class="form-control input-sm text-left" [(ngModel)]="r.productCd" id="productCd" name="productCd" [desactive]="mode" [disabled]="r.policyId">
			    <option *ngFor="let p of allProducts" [ngValue]="p.prdId">{{p.name}}</option>
			</select>
        </div>
        <label class="marginTop col-md-3 text-right">Application Nr</label>
        <div class="form-group col-md-3">
            <input type="text" class="form-control input-sm" maxlength="20" [(ngModel)]="r.applicationForm" [desactive]="mode">
        </div>
    </div>
    <div class="row">
        <label class="marginTop col-md-2 text-right">Client</label>
        <div class="form-group col-md-4">
            <input type="text" class="form-control input-sm" maxlength="250" [(ngModel)]="r.clientName" [desactive]="mode">
        </div>
        <label class="marginTop col-md-2 text-right">Country of residence</label>
        <div class="form-group col-md-3">
            <select class="form-control input-sm text-left" [(ngModel)]="r.countryCd" id="countryCd" name="countryCd" [desactive]="mode">
			    <option *ngFor="let c of (allCountries | orderBy: ['name'])" [ngValue]="c.ctyId">{{c.name}}</option>
			</select>
        </div>
    </div>

    <div class="row">
        <label class="marginTop col-md-2 text-right">Expected Premium</label>
        <div class="form-group col-md-2">
            <w-number  [(number)]="r.expectedPremium" [precision]="6" css="form-control input-sm text-right" [mode]="mode" ></w-number>           
            <!--<input type="text" currencyFormatter class="form-control input-sm text-right" [(ngModel)]="r.expectedPremium" [desactive]="mode">-->
        </div>
        <label class="marginTop col-md-4 text-right">Currency of contract</label>
        <div class="form-group col-md-2">
		    <select class="form-control input-sm currency-select" [(ngModel)]="r.contractCurrency" id="currency" name="currency" [desactive]="mode">
			    <option *ngFor="let c of currencyList" [ngValue]="c.ccyId">{{c.ccyId}}</option>
		    </select>
        </div>
    </div>
<!-- FEES -->
    <div class="row">
        <div class="title col-md-6 col-md-offset-1">Fees</div>
    </div>
    <div class="row">
        <label class="marginTop col-md-2 text-right">Entry fees</label>
        <div class="form-group col-md-4 form-inline">
                 <percent-amount    [(percent)]="r.entryFeesPct"
                                    [(flatAmount)]="r.entryFeesAmt"
                                    [defaultCurrency]="r.contractCurrency"
                                    [currency]="r.contractCurrency"
                                    [disabled]="mode =='waiting' || mode =='readOnly'"
                                    [currencyList]="currencyList"
                                    [disabledCurrency]="true"
                                    (unityChange)="unityChange($event)"
                                    (percentChange)="changeFeesType($event)"
                                    (flatAmountChange)="changeFeesType($event)">
                </percent-amount>
        </div>
        <label class="marginTop col-md-2 text-right">Admin fees</label>
        <div class="form-group col-md-4 form-inline">
            <span >
                <w-number  [(number)]="r.mngtFeesPct" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6" (numberChange)="updateCompanyManagementFees()"></w-number>% 
                <!--<input type="text" class="form-control input-sm text-right" [desactive]="mode" currencyFormatter [currencyOptions]="{precision:6}" size=2 [(ngModel)]="r.mngtFeesPct" (change)="updateCompanyManagementFees()">%-->
            </span>
        </div>

    </div>
    <div class="row">
        <label class="col-md-2 text-right marginTop">Wealins entry fees</label>
        <div class="form-group col-md-3 form-inline">
            <span *ngIf="isEntryFeesPCT==true"><w-number  [(number)]="r.companyEntryFeesPct" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6" [disabled]="true"></w-number>%</span>
            <span *ngIf="isEntryFeesPCT!=true"><w-number  [(number)]="r.companyEntryFeesAmt" css="form-control input-sm text-right input-amount" [mode]="mode" [precision]="6" [disabled]="true"></w-number>{{r.contractCurrency}}</span>
        </div>

        <label class="col-md-3 text-right marginTop">Wealins admin fees</label>
        <div class="form-group col-md-4 form-inline">
            <w-number  [(number)]="r.companyMngtFeesPct" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6" [disabled]="true"></w-number>% 
        </div>
    </div>

<!-- Partners & Commission -->
    <div class="row">
        <div class="title col-md-6 col-md-offset-1">Partners & Commission</div>
    </div>
    <div class="row"> <!-- 'BK'  -->
        <label class="marginTop col-md-2 text-right">Broker</label>
        <div class="form-group col-md-4 form-inline">
            <search-agent [(agentId)]="r.broker.partnerId" (onChange)="setBroker($event)" (agentIdChange)="checkFoyerAgent()" [labelFn]="name_status" [type]="'BK'" [disabled]="mode =='waiting' || mode =='readOnly'" [allowClear]="false"></search-agent> 
        </div>

        <label class="marginTop col-md-2 text-right">Broker entry fees</label>

        <div class="col-md-4">
            <div class="form-inline">
                <div class="form-group " *ngIf="isEntryFeesPCT==true" >
                    <w-number  [(number)]="r.broker.entryFeesPct" [disabled]="disableFees==true" [precision]="6" css="form-control input-sm text-right input-percent" [precision]="6" [mode]="mode" (numberChange)="updateCompanyEntryFees()" ></w-number>%
                    <!--<input type="text" class="form-control input-sm text-right" [desactive]="mode" currencyFormatter [currencyOptions]="{precision:6}" size=2 [(ngModel)]="r.broker.entryFeesPct" (change)="updateCompanyEntryFees()">%-->
                </div>
                <div class="form-group paddingRight" *ngIf="isEntryFeesPCT!=true" >
                    <w-number  [(number)]="r.broker.entryFeesAmt" [disabled]="disableFees==true" css="form-control input-sm text-right input-percent" [mode]="mode" (numberChange)="updateCompanyEntryFees()"></w-number>
                    <span>{{ r.contractCurrency }}</span>
                    <!--<input type="text" currencyFormatter class="form-control input-sm text-right" [desactive]="mode" size=6 [(ngModel)]="r.broker.entryFeesAmt" (change)="updateCompanyEntryFees()">-->
                </div>
                <label class="text-right paddingHorizontal8">Broker admin fees</label>
                <div class="form-group">
                    <w-number  [(number)]="r.broker.mngtFeesPct" [disabled]="disableFees==true" css="form-control input-sm text-right input-percent" [precision]="6" [mode]="mode" (numberChange)="updateCompanyManagementFees()"></w-number>%    
                    <!--<input type="text" class="form-control input-sm text-right" [desactive]="mode" currencyFormatter [currencyOptions]="{precision:6}" size=2 [(ngModel)]="r.broker.mngtFeesPct" (change)="updateCompanyManagementFees()">%-->
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 marginTop text-right" for="contactName" ><span *ngIf="!isWealins(r.broker)" >Contact person</span></label>
        <div class="form-group col-md-4">
            <ng-container *ngIf="!isWealins(r.broker)">
                <agc-add-select [disabled]="(r && r.broker && (!selectedAgent.broker|| !r.broker.partnerId)) || (mode!='edit')" css="width-fluid-f-77 form-control input-sm" [(agent)]="selectedAgent.broker" [(contactId)]="r.brokerContact.partnerId" registrationLimitedList=true></agc-add-select>
            </ng-container>
        </div>
        <div class="col-md-2 checkbox text-right">
            <label class="marginTop" >
                Derogation
                <input type="checkbox" [desactive]="mode" [(ngModel)]="r.broker.isOverridedFees" (change)="cleanDerogation($event.target.checked)"><span class="cr"><i class="cr-icon">&#x2714;</i></span>
            </label>
        </div>
        <div *ngIf="!!r.broker.isOverridedFees"  class="col-xs-4">
            <textarea  placeholder="Reason of the derogation" [desactive]="mode" maxlength="100" type="text" autosize class="form-control paddingVertical" rows="1"  [(ngModel)]="r.broker.explainOverFees" ></textarea>
        </div>

    </div>
    <div class="line-break-thin"></div>
    <div class="row" *ngIf="isWealins(r.broker)">
        <label class="marginTop col-md-2 text-right">Business Introducer</label> <!-- 'IN'  -->        
        <div class="form-group col-md-4 form-inline">
             <search-agent [(agentId)]="r.businessIntroducer.partnerId" [labelFn]="name_status" [type]="['IN','AM','DB']" [disabled]="mode =='waiting' || mode =='readOnly'" [allowClear]="!disableFees"></search-agent> 
        </div>
        <label class="marginTop col-md-2 text-right form-inline">Bus.Introducer entry fees</label>
        <div class="form-group col-md-2 form-inline">
            <w-number  [(number)]="r.businessIntroducer.entryFeesPct" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number>%                
        </div>
    </div>
    <div class="line-break-thin"></div>
    <div class="row">
        <label class="marginTop col-md-2 text-right">Country Manager</label><!-- 'FS'  -->
        <div class="col-md-6 form-group">
            <ng-template ngFor let-countryManager [ngForOf]="r.countryManagers" let-i="index" let-last="last">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-inline">
                            <select class="width-fluid-f-77 form-control input-sm text-left" [(ngModel)]="countryManager.partnerId" [desactive]="mode">
                                <option *ngFor="let a of (countryManagerList | orderBy: ['name'])" [ngValue]="a.agtId">{{a.name}}</option>
                            </select>
                            <button *ngIf="r.countryManagers && r.countryManagers.length>1" class="btn btn-sm btn-primary" (click)="removeCountryManager(countryManager)" [desactive]="mode"><i class="fa fa-minus" aria-hidden="true"></i></button>
                            <button *ngIf="last" class="btn btn-sm btn-primary" (click)="showAdditionalCM=true" [desactive]="mode"><i class="fa fa-plus" aria-hidden="true"></i></button>                       
                        </div>
                    </div>
                    <div class="col-md-4 nopadding">
                        <div class="form-inline ">
                            <label *ngIf="r.countryManagers && r.countryManagers.length>1" class="marginTop">Split</label>
                            <ng-container *ngIf="r.countryManagers && r.countryManagers.length>1">
                                <w-number  [(number)]="countryManager.split" css="form-control input-sm text-right input-percent" [mode]="mode" [precision]="6"></w-number>%    
                                <!--<input type="text" class="form-control input-sm" [desactive]="mode" currencyFormatter [currencyOptions]="{precision:6}" size=2 [(ngModel)]="countryManager.split">%-->
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="row">
                <div class="col-md-8 ">
                    <div *ngIf="countryManagerList && (r.countryManagers.length==0 || showAdditionalCM)" class="form-inline">
                        <select class="width-fluid-f-77 form-control input-sm text-left" [(ngModel)]="partner_tmp" (ngModelChange)="addCountryManager($event)" [desactive]="mode">
                            <option *ngFor="let a of (remainCountryManagerList | orderBy: ['name'])" [ngValue]="a.agtId">{{a.name}}</option>
                        </select>
                        <button class="btn btn-sm btn-primary" *ngIf="r.countryManagers && r.countryManagers.length>0" (click)="showAdditionalCM=false" [desactive]="mode"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Investment -->
    <div class="row">
        <div class="title col-md-6 col-md-offset-1">Investment</div>
    </div>
    <div>
        <registration-invest [(model)]="r.fundForms" [defaultCurrency]="r.contractCurrency" [formId]="r.formId" [mode]="mode"></registration-invest>        
    </div>
     <div class="text-center">
            <label class="checkbox-inline">
                FID
                <input type="checkbox" name="FID" id="cb-FID" [(ngModel)]="r.existedFid" value="FID" [disabled]="(mode =='waiting' || mode =='readOnly')"> 
                <span class="cr"><i class="cr-icon">&#x2714;</i></span>
            </label>
            <label class="checkbox-inline">
                FAS
                <input type="checkbox" name="FAS" id="cb-FAS" [(ngModel)]="r.existedFas" value="FAS"  [disabled]="(mode =='waiting' || mode =='readOnly')"> 
                <span class="cr"><i class="cr-icon">&#x2714;</i></span>
            </label>
            <label class="checkbox-inline">
                External funds
                <input type="checkbox" name="FE" id="cb-FE" [(ngModel)]="r.existedFe" value="FE"  [disabled]="(mode =='waiting' || mode =='readOnly')"> 
                <span class="cr"><i class="cr-icon">&#x2714;</i></span>
            </label>
             <label class="checkbox-inline">
                FIC
                <input type="checkbox" name="FIC" id="cb-FIC" [(ngModel)]="r.existedFic" value="FIC" [disabled]="(mode =='waiting' || mode =='readOnly')"> 
                <span class="cr"><i class="cr-icon">&#x2714;</i></span>
            </label>
        </div>
  </div>
</div>
