<ng-template ngbModalContainer *ngIf="!inModal"></ng-template>
<div class="cli cli-phy">
  <div class="split-screen relative" >
    <div [ngBusy]="[busy]">
    <div class="client-form container-fluid relative" >
      <div [ngBusy]="subs">
      <section class="form-horizontal" *ngIf="!inModal">
        <div class="row menu marginLeft3 nomarginRight">
          <div class="row vertical-center-noline ">
            <div class="col-md-2 paddingLeft12">
              <h3>{{titleMode}}</h3>
            </div>
            <div class="col-md-8 paddingLeft12">
              <span *ngIf="fc.cliId"><b>Code</b><span>&nbsp;&nbsp;{{ fc.cliId }}</span></span>
            </div>
            <div class="col-md-2">
              <div class="pull-right paddingRight7">
                <button type="submit" class="btn btn-xs btn-primary" (click)="saveIt()" [disabled]="!canSave"><i class="fa fa-floppy-o"></i>Save</button>
                <button type="button" class="btn btn-xs btn-primary" (click)="refresh()" [disabled]="!canSave"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</button>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section>
        <div class="form-horizontal" [ngClass]="{'form':!inModal}">

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <ngbd-alert-container ref='clientCpt'></ngbd-alert-container>
            </div>
          </div>

          <div class="row">
            <!-- Left Side -->
            <div class="col-md-6">
              <!-- Name -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">Name</label>
                  <div class="col-md-2">
                    <select class="form-control input-sm" [(ngModel)]="fc.title" [desactive]="mode">
                      <option value=""></option>
                      <option *ngFor="let t of (titles | orderBy:['description'])" [value]="t.keyValue">{{t.description}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 nopadding">
                    <input type="text" class="form-control input-sm" maxlength="40" [(ngModel)]="fc.name" [desactive]="mode">
                  </div>
                  <div class="col-md-4">
                    <div class="checkbox checkbox-r">
                        <label>
                            <input #inputCheck type="checkbox"  (change)="checkChange(inputCheck)" [checked]="fc.status==1" [disabled]="fc.status==0" [desactive]="mode" >
                            <span class="cr"><i class="cr-icon">&#x2714;</i></span> 
                            Active
                        </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- date of birth  -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">Creation Date</label>
                  <div class="col-md-3">
                     <datepicker [(date)]="fc.dateOfBirth" [disabled]="mode == StateMode.readonly"></datepicker>
                  </div>
                  <label for="documentationLanguage" class="control-label col-md-1">Language</label>
                  <div class="col-md-3">
                    <select name="documentationLanguage" class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fc.documentationLanguage" id="langueCd"
                      [desactive]="mode">
                        <option value=""></option>
                        <option *ngFor="let l of (languages | orderBy: ['description'])" [value]="l.number">{{l.description}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Contry of birth  -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">Country</label>
                  <div class="col-md-3">
                    <select class="form-control input-sm text-left" [(ngModel)]="fc.countryOfBirth" id="countryCd" name="countryCd" [desactive]="mode">
                      <option value=""></option>
                      <option *ngFor="let c of (allCountries | orderBy: ['name'])" [value]="c.ctyId">{{c.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- VAT  -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">VAT Number</label>
                  <div class="col-md-3">
                    <input name="vatNumber" type="text" class="form-control input-sm" maxlength="40" [(ngModel)]="fc.vatNumber" [desactive]="mode">
                  </div>
                </div>
              </div>

              <!-- Fiduciary  -->
              <div class="row">
                <div class="form-group">
                  <label class="col-md-2 control-label">Fiduciary</label>
                  <div class="col-md-2">
                    <div class="checkbox">
                        <label class="nopadding">
                            <input id="fiduciaryId" name="fiduciary" type="checkbox" [checked]="fc.fiduciary==1" (change)="fiduciaryChange($event)" [desactive]="mode" >
                            <span class="cr"><i class="cr-icon">&#x2714;</i></span>											
                        </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-break-big"></div>
              <!-- Person representing Company  -->
              <ng-template ngFor let-prc [ngForOf]="fc.personsRepresentingCompany | filter:'item.controllingPerson!=0': 'item.status==1'" let-i="index" let-last="last">
                <div class="row">
                  <div class="form-group">
                    <label class="control-label col-md-3" *ngIf="(i == 0 )">Person representing Company</label>
                    <div class="col-md-6" [ngClass]="{'col-md-offset-3': (i > 0)}">
                      <search-client [includeDeceased]="false" type="1" [(clientId)]="prc.controllingPerson" [disabled]="mode =='readOnly'" [allowClear]="false">
                        <button class="btn btn-sm btn-primary" (click)="removePRC(prc)" [desactive]="mode"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        <button *ngIf="last" class="btn btn-sm btn-primary" (click)="showAdditionalPRC=true" [desactive]="mode"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        <span class="label label-primary w-label" *ngIf="prc.status == 2"> Inactive </span>
                      </search-client>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="row" *ngIf="( !fc.personsRepresentingCompany || (fc.personsRepresentingCompany | filter:'item.controllingPerson!=0': 'item.status==1').length==0 || showAdditionalPRC)">
                <div class="form-group">
                  <label class="control-label col-md-3" *ngIf="(fc.personsRepresentingCompany | filter:'item.controllingPerson!=0 && item.status==1').length==0">Person representing Company</label>
                  <div class="col-md-6" [ngClass]="{'col-md-offset-3': ((fc.personsRepresentingCompany | filter:'item.controllingPerson!=0 && item.status==1').length > 0)}">
                    <search-client [includeDeceased]="false" type="1" [(clientId)]="tmp_PRC" (onChange)="tmp_PRC=null;addPRC($event);showAdditionalPRC=false;" [disabled]="mode =='readOnly'"
                      [allowClear]="false"></search-client>
                  </div>
                </div>
              </div>

              <div class="line-break-big"></div>
              <div class="row">
                <div class="title col-md-7">Fiscal Info</div>
              </div>
              <!-- TINs  -->
              <tin [countries]="allCountries" [(tinModel)]="fc" [mode]="mode"></tin>

              <div class="line-break-big"></div>
              <div class="row">
                <div class="title col-md-7">Compliance Info</div>
              </div>
              <!-- Sector  -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">Sector</label>
                  <div class="col-md-3">
                    <select name="sector" class="form-control input-sm text-left" [(ngModel)]="fc.activityRiskCat" id="activityRiskCat" [desactive]="mode">
                      <option value=""></option>
                      <option *ngFor="let s of sectors" [value]="s.keyValue" [class.risky]="s.keyValue < 100">{{ s.description }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- FATCA -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">FATCA</label>
                  <div class="col-md-10">
                    <div class="form-inline">
                      <div class="radio paddingLeft5">
                        <label class="radio-inline paddingRight4 ">
                            <input class="form-control input input-sm" [desactive]="mode" type="radio" name="fatca"  [value]="'FATCA'" [checked]="fc.classification == 'FATCA'" [(ngModel)]="fc.classification">
                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                            Yes
                        </label>
                        <label class="radio-inline paddingRight4 ">
                            <input class="form-control input input-sm"  [desactive]="mode" type="radio" name="fatca"  [value]="'NO'" [checked]="fc.classification == 'NO'" [(ngModel)]="fc.classification" (ngModelChange)="clearClassificationDetails($event)">
                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                            No
                        </label>
                      </div>
                      <input *ngIf="fc.classification=='FATCA'" name="classificationDetails" type="text" class="form-control input-sm" maxlength="50"
                        [(ngModel)]="fc.classificationDetails" [desactive]="mode">
                    </div>
                  </div>
                </div>
              </div>

              <client-compliance [(fc)]="fc" (allowCanSave)="allowCanSave()"></client-compliance >


              <div class="line-break-big"></div>

              <!-- CRS status -->
              <div class="row">
                <div class="form-group">
                  <label class="control-label col-md-2">CRS Status</label>
                  <div class="col-md-3">
                    <select class="form-control input-sm text-left" [(ngModel)]="fc.crsStatus" id="crsStatusId" name="crsStatus" [desactive]="mode">
                        <option value=""></option>
                        <option *ngFor="let c of (crsStatusList | orderBy: ['description'])" [value]="c.keyValue">{{ c.description }}</option>
                    </select>
                  </div>
                <ng-container *ngIf="isBFINNDCLCrsStatus">
                  <div [className]="bfinndclCrsStatusClassName">
                    <label class="control-label col-md-2">Status exact</label>
                    <div class="col-md-3">
                        <select class="form-control input-sm text-left" [(ngModel)]="fc.crsExactStatus" id="crsExactStatusId" name="crsExactStatus"
                        [desactive]="mode">
                            <option value=""></option>
                            <option *ngFor="let c of (exactStatusList | orderBy: ['description'])" [value]="c.keyValue">{{ c.description }}</option>
                        </select>
                    </div>
                  </div>
                </ng-container>  
                </div>
              </div>

              <ng-container *ngIf="isSpecialCrsStatus">
                <div class="line-break-big"></div>
                <div class="row" [className] ="specialCrsStatusClassName">
                  <div class="col-md-12">                  
                    <table cellspacing="0" cellpadding="0" border="0" class="table dataTable table-striped table-hover nomargin fullwidth" role="table">
                      <thead>
                        <th width="50">Controlling Person</th>
                        <th width="25%">Type of control</th>
                        <th width="10%">Status</th>
                        <th width="10%"></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cp of fc.controllingPersons; let i=index"> 
                          <td>
                            <span *ngIf="cp && cp.displayName" highlight="text-danger" [pattern]="clientRegXp"><a [attr.href]="'#/client/physical/'+cp?.cliId" target="_blank">{{ cp.displayName }}</a></span>
                          </td>
                          <td>
                              <select class="form-control input-sm text-left" [(ngModel)]="cp.subType" id="subTypeId" name="subType" [desactive]="mode">
                                  <option value=""></option>
                                  <option *ngFor="let ctrl of (typeOfControlList | orderBy: ['description'])" [value]="ctrl.keyValue">{{ ctrl.description }}</option>
                              </select>
                          </td>
                          <td class="text-center">
                              <span class="label label-primary w-label" *ngIf="cp.status == 1"> Active </span>
                              <span class="label label-primary w-label" *ngIf="cp.status == 2"> Inactive </span>
                          </td>
                          <td class="text-center">
                            <button title="Disable the current controlling person." type="button" (click)="removeCP(cp)" class="btn btn-xs btn-primary" [desactive]="mode"><i class="fa fa-minus" aria-hidden="true"></i></button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td  style="height: 43px;" colspan="4" class="text-center">
                              <div [className] ="specialCrsStatusClassName"
                                    *ngIf="isSpecialCrsStatus">
                                <search-client-multiple buttonCaption="Add Controlling Person" (selectItemsChange)="select($event)"></search-client-multiple>                                                     
                              </div>  
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </ng-container>
              <div class="line-break-big"></div>
              <div class="row">
                <div class="title col-md-7">Investment Categorisation</div>
              </div>

              <!-- Investisment risk -->
              <div class="row">
                <div class="form-group">
                  <label class="text-nowrap control-label col-md-3">Investment risk</label>
                  <div class="col-md-3">
                    <select class="form-control input-sm text-left" [(ngModel)]="fc.profile" id="profileId" name="profile" [desactive]="mode">
                      <option value=""></option>
                      <option *ngFor="let c of profiles" [value]="c.keyValue">{{ c.description }}</option>
                    </select>
                  </div>
                  <label class="text-nowrap control-label col-md-1 marginRight10"> Circular Letter</label>
                  <div class="form-inline">
                    <select class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fc.circularLetter" id="circularLetterId" name="circularLetter">
                        <option value=""></option>
                        <option *ngFor="let c of circularLetters" [value]="c.keyValue">{{ c.description }}</option>
                    </select>
                    <select class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fc.classOfRisk" id="classOfRisk" name="classOfRisk">
                        <option value=""></option>
                        <option *ngFor="let e of riskClassList" [value]="e.keyValue">{{e.description}}</option>
                    </select>
                    <div class="checkbox marginLeft5">
                      <label>
                          <input id="exceptActivityRiskId" name="exceptActivityRisk" type="checkbox" [(ngModel)]="fc.exceptActivityRisk" desactive [forRoles]="[roles.CLIENT_EDIT]" [outerRole]="true" >
                          <span class="cr"><i class="cr-icon">&#x2714;</i></span> 
                          Derogation
                      </label>
                  </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- right Side -->
            <div class="col-md-6">
              <client-contact [(clientContact)]="fc" [countries]="allCountries" [mode]="mode"></client-contact>
              <!-- Notes -->
              <div class="row">
                <div class="title col-md-12">Notes</div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <!-- Type == 1. individual -->
                  <textarea name="notes" id="notes" class="form-control" rows="4" [desactive]="mode" [(ngModel)]="fc.clientNote.details" maxlength="100"></textarea>
                </div>
              </div>
              <!-- End of Notes -->
              <div *ngIf="fc.clientAccounts.length > 0">
                  <div class="row">
                      <div class="title col-md-12">Bank Accounts</div>
                  </div>
                  <div class="row">
                      <div class="col-md-7">
                          <client-accounts [accounts]="fc.clientAccounts" [status]="accountStatus" [hasEditRoles]="hasEditRole || hasComplianceEditRole"></client-accounts>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <ng-container *ngIf="showInModal"> 
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <client-policies [cliId]="fc.cliId">
                    <div class="line-break-big" caption></div>                  
                    <div class="text-nowrap title table-caption-left" caption>Policies</div>
                </client-policies>
              </div>
            </div>           
            <div class="row marginTop4" >
                <div class="col-md-4 col-md-offset-1">
                    <operation-entry [ownerId]="fc.cliId" [ownerType]="ownerType">
                      <div class="line-break-big" caption></div>
                      <div class="title" caption>New business</div>
                    </operation-entry>
                </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
    </div>
  </div>
  </div>
</div>
