<ng-template #popContent><span class="checkExplain" [innerHtml]="q.check.checkExplain"></span></ng-template>

<div class="question row" id="checkId_{{q.check.checkId}}" [ngClass]="{'disabled' : !q.isUpdatable , 'required' : q.isMandatory}" >    

    <div class="col-xs-8 paddingHorizontal2" [ngClass]="{'animated bounceIn': q.check.checkCode && q.check.checkCode.substr(0,3)=='CTX' && q.hide<0}">{{q.check.checkDesc}}<i *ngIf="q.check.checkExplain" class="fa fa-info-circle icon-info" aria-hidden="true" [popover]="popContent" triggers="mouseenter:mouseleave" placement="auto"></i></div>

    <div class="col-xs-4 radio" *ngIf="q.check.checkType=='YesNoNa' || q.check.checkType=='YesNo'" [ngClass]="{'disabled' : !q.isUpdatable || mode=='readOnly' || mode=='waiting'}">
        <label><input [attr.name]="uuid" type="radio" value="YES" name="{{uuid}}" [(ngModel)]="q.check.checkData.dataValueYesNoNa" (change)="setScore(q?.check, q?.check?.checkData?.dataValueYesNoNa); emit(q)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>Yes</label>
        <label><input [attr.name]="uuid" type="radio" value="NO" name="{{uuid}}" [(ngModel)]="q.check.checkData.dataValueYesNoNa" (change)="setScore(q?.check, q?.check?.checkData?.dataValueYesNoNa); emit(q)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'" (change)="emit(q)"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>No</label>
        <label *ngIf="q.check.checkType=='YesNoNa' && !(q.check.checkCode && q.check.checkCode.substr(0,3)=='CTX')"><input [attr.name]="uuid" type="radio" name="{{uuid}}" value="NA" [(ngModel)]="q.check.checkData.dataValueYesNoNa" (change)="setScore(q?.check, q?.check?.checkData?.dataValueYesNoNa);emit(q)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>N/A</label>
        <label><span>{{ questionScore }}</span></label>
    </div>

    <div class="col-xs-12 radio paddingHorizontal2" *ngIf="q.check.checkType=='Text'">
        <textarea autosize class="form-control paddingVertical" maxlength="1000" [(ngModel)]='q.check.checkData.dataValueText' (keyup)="setScore(q?.check, q?.check?.checkData?.dataValueText)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'" rows="2"> </textarea>  
        <label><span>{{ questionScore }}</span></label>
    </div>

    <div class="col-xs-4 radio" *ngIf="q.check.checkType=='Amount'">
        <input type="text" class="form-control input-sm" [(ngModel)]="q.check.checkData.dataValueAmount" (keyup)="setScore(q?.check, q?.check?.checkData?.dataValueAmount)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'" >
        <label><span>{{ questionScore }}</span></label>
    </div>

    <div class="col-xs-4 radio" *ngIf="q.check.checkType=='List'">
        <select class="form-control input-sm text-left" [(ngModel)]="q.check.checkData.dataValueText" (change)="setScore(q?.check, q?.check?.checkData?.dataValueText)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'">
            <option *ngFor="let o of options" [ngValue]="o.code">{{o.label}}</option>
        </select>
        <label><span>{{ questionScore }}</span></label>         
    </div>
    
    <div class="col-xs-4 radio" *ngIf="q.check.checkType=='Number'">
        <input type="text" class="form-control input-sm" [(ngModel)]="q.check.checkData.dataValueNumber" (keyup)="setScore(q?.check, q?.check?.checkData?.dataValueNumber)" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'" >
        <label><span>{{ questionScore }}</span></label>
    </div>

    <div class="col-xs-4 radio" *ngIf="q.check.checkType=='Date'">
        <div class="row">
            <datepicker [(date)]="q.check.checkData.dataValueDate" (dateChange)="setScore(q?.check, q?.check?.checkData?.dataValueDate)"[disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'"></datepicker>
            <label><span>{{ questionScore }}</span></label>
        </div>
    </div>            
</div>

<div class="row" *ngIf="(q.check.commentIf && (q.check.commentIf == q.check.checkData.dataValueYesNoNa || q.commentIf*1 == q.check.checkData.dataValueAmount || q.commentIf*1 == q.check.checkData.dataValueNumber))">
    <div class="col-xs-6 col-md-push-6">
        <textarea  autosize class="form-control paddingVertical" maxlength="1000" [(ngModel)]='q.check.checkData.commentIf' (keyup)="setScore(q?.check, q?.check?.checkData?.commentIf)" rows="1" [disabled]="!q.isUpdatable || mode=='readOnly' || mode=='waiting'"> </textarea>
        <label><span>{{ questionScore }}</span></label>
    </div>
</div>