

<div class="clearfix relative" style="display: table; width: 100%;">   
    <div class="flow text-center" [ngBusy]="busy">        
        <ng-template ngFor let-step [ngForOf]="steps" let-i="index">
            <ng-template #popContent><span class="flowInfo" [innerHtml]="'Modified by '+step.login+'<br>The '+(step.date | date)"></span></ng-template>
            <!--<i class="fa fa-arrow-down" aria-hidden="true" *ngIf="i>0"></i>-->
            <div *ngIf="step.index < _currentStepIndex" class="step" [ngClass]="{'active':step.index == displayedSurveys.index}"  (click)="gotoStep(step)" [popover]="popContent" triggers="mouseenter:mouseleave" placement="left" [innerHTML]="step.action | stepName"></div>            
            <div *ngIf="step.index == _currentStepIndex" class="step current" [ngClass]="{'active':step.index == displayedSurveys.index}" (click)="gotoStep(step)" [innerHTML]="step.action | stepName"></div>
            <div *ngIf="step.index > _currentStepIndex" class="step" [innerHTML]="step.action | stepName"></div>
        </ng-template>   
    </div>

    <div class="survey relative">
        <ng-template ngFor let-step [ngForOf]="steps">
            <!-- historical surveys not updatable -->
            <div *ngIf="step.index < _currentStepIndex" [ngBusy]="_subs[step.index]" [hidden]="displayedSurveys.index != step.index">
                <h4 class="text-center">>> {{step.action}} <<</h4>
                <div *ngFor="let question of oldSurveys[step.action]; let i=index">
                    <div class="title" *ngIf="question.label && (i==0 || oldSurveys[step.action][i].label?.labelId!=oldSurveys[step.action][i-1].label?.labelId)">{{question?.label?.labelDesc}}</div>
                    <question *ngIf="question.hide!=true" [checkWorkflow]="question" [workflowItemId]="workflowItemId" [mode]="'readOnly'"></question>
                </div>
            </div>
            <!-- current survey updatable -->
            <div *ngIf="step.index == _currentStepIndex" [ngBusy]="_subs[step.index]" [hidden]="displayedSurveys.index != step.index" (window:keydown.ArrowDown)="onDown($event)" (window:keydown.ArrowUp)="onUp($event)" (window:keydown.control)="selectYesNo($event)" (window:keydown.esc)="activeRow=null">
                <div *ngFor="let question of surveys; let i=index; " (click)="activeRow = i" [ngClass]="{'active': i == activeRow}">
                    <div class="title" *ngIf="question.label && (i==0 || question.label?.labelId!=surveys[i-1].label?.labelId)">{{question?.label?.labelDesc}}</div>
                    <question *ngIf="question.hide!=true" [checkWorkflow]="question" [workflowItemId]="workflowItemId" [mode]="mode"></question>
                </div>
            </div>
       </ng-template>    
    </div>
  

</div>