/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

//$icon-font-path: $baseUrl + "/assets/fonts/bootstrap/";
$icon-font-path: "~bootstrap/fonts/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$fa-font-path : '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';

@import 'mixins/grid-framework';
@import 'mixins/grid';
@import 'grid';

@import 'mixin';
@import 'index';
@import 'datatable/themes';

html, body {
  height: 100%;
  background-color: white;
  color: black;
  font-size: 11px;
  //overflow: auto;
}

//********************************************
//     Header
//********************************************
.application-title {
  color : $wealins_grisbleu;
  font-weight: bold;
  padding-top : 25px;
}

//********************************************
//     Top Menu
//********************************************

main-menu {
  z-index: 950;
  nav {
    z-index: 951;
  }
}

span.active {
  background-color: gray;
}

.select2-dropdown {
    color: black;
}

#logoHeader {
  font-size : 3em;
  a {
    text-decoration: none;
  }
}

.dropdown li>a:hover {
    background-color: lighten($wealins_taupe_light, 25%);
}

.wealins-logo{
    margin-top: -15px;
    width: 220px;
}

//********************************************
//     server environnment header
//********************************************
.server {
      position: fixed;
      top: 20px;
      right: -50px;
      left: auto;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      z-index: 200;
      width: 200px;
      padding: 8px 0px;
      @include box-shadow(0px 5px 10px 2px rgba(0,0,0,0.3));
      
    &.srv-local{
      background-color: yellow;
    }
    &.srv-dev{
      background-color: orange;
    }
    &.srv-tst{
      background-color: green;
      color: white;
    }
    &.srv-uat{
      background-color: pink;
    }
    &.srv-prod{
      display : none;
    }
}

//********************************************
//     main Footer
//********************************************
footer {
//    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;

    div:first-child {
          margin-top: -30px;
    }

    .legal{
      color : $wealins_taupe;
      font-size : 0.8em;
      background-color : white;
      box-shadow: 0px -3px 20px 2px rgba(0, 0, 0, 0.2);
      margin-top: 5px;
      padding: 3px 0px;
    }

    .separator{
      margin-top: 0px; 
      margin-bottom: 0px;
    }
}

.foyer-group-footer{
  height: 2em;
}

.clickable{
  cursor : pointer;
}

.col-md-del-offset-2 {
    margin-left: -26.66667%;
}

.separator{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: $wealins_taupe; /* old IE */
    background-color: $wealins_taupe; /* Modern Browsers */
}

//********************************************
//     global content
//********************************************

main.main-container {
    min-height: 100%;//-moz-calc(100% - 68px);
    min-height: 100%;//-webkit-calc(100% - 68px);
    min-height: 100%;//calc(100% - 68px); 
    //height: 100%; 
    @include gradient-directional( lighten($wealins_taupe,15%) , lighten($wealins_taupe,30%), 160deg);
    //@include gradient-radial( #fff, lighten($wealins_taupe,20%));


    // .ng-invalid, .w-invalid {
    //   border-left: 3px solid rgba(255, 51, 0, 0.8);
    // }
    
}

//********************************************
//     Home
//********************************************
.home-container{  
  padding-top : 30px;
}


//********************************************
//     Step formData (subscriptionForm, Registration Form,....)
//********************************************

.split-screen{
  padding-top: 10px;
  .menu{
      //background-color: lighten($wealins_taupe,30%);
      @include gradient-directional( lighten($wealins_taupe,40%) , lighten($wealins_taupe,28%), 182deg);
      //margin-bottom: 1em;
      color: $wealins_grisbleu;
      @include box-shadow(2px 2px 5px rgba(0,0,0,.2));
      border-radius: 10px;
      font-size: 1.2em;
  }

  .form{
    padding: 15px;
    background-color: white;
    border-radius : 15px;
    @include box-shadow(3px 3px 5px rgba(0, 0, 0, .2));
    min-height: 500px;
    border: solid 1px grey;
    margin-left: 10px;
  }

  .mini-form{
    padding: 15px;
    background-color: white;
    border-radius : 15px;
    @include box-shadow(3px 3px 5px rgba(0, 0, 0, .2));
    min-height: 200px;
    border: solid 1px grey;
    margin-left: 10px;
  }

  .title{
    font-size: 1.2em;
    color : $wealins_taupe_light;
    font-weight: bold;
    margin: 5px 0px;
  }

  .search-caption{
    //font-size : 0.8em;
    //color : grey;
    font-weight: bold;
    //font-style: italic;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  a:not(:hover):not(:active) > .search-caption{
    color : blue;
  }

  .currency-select {
    width: 60px;
    text-align: left;
  }

  .fake-input-sm {
    line-height: 22px!important;
    min-width: 55px;
  }

  .fund-badge {
    background-color: $wealins_taupe;
    padding: .2em .6em .3em;
    color: #fff;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-align:center;
  }

  .input-percent{
    width : 65px!important
  }
  .input-amount{
    width : 140px!important
  }
  .input-text{
    width : 240px!important
  }
  .input-text-lg{
    width : 360px!important
  }

  .radio + .radio, .checkbox + .checkbox {
    margin-top: -5px;
  }

  #previous, #next {
    padding : 1px 12px;
    color: $wealins_taupe_light;
    width: 60px;
  }

  #previous > .fa, #next > .fa {
    transition: all 0.2s;
  }

  #previous:hover, #previous:focus, #previous:active,
  #next:hover, #next:focus, #next:active {
    color: $wealins_taupe;
  }

  #previous {
    .fa:first-child {
        margin-right : -30px;
    }
    .fa:nth-child(2) {
        margin-right : 0px;
    }
    &:hover > .fa:first-child {
      margin-right : -43px;
    }
  }  

  #next {
    .fa:first-child {
        margin-left : 0px;
    }
    .fa:nth-child(2) {
        margin-left : -30px;
    }
    &:hover > .fa:nth-child(2) {
      margin-left : -43px;
    }
  } 



.history-tab {
    color: white;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: 3px;
    margin-right: 10px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    text-align:center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s;
    @include box-shadow(inset 0px 5px 5px rgba(0, 0, 0, 0.2));
    .badge {
      font-size: 0.8rem;
    }
}

.history-tab:hover {
    background-color: #bf0a0a;
    padding-top: 5px;
    margin-bottom: 0px;
    @include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.2), inset 0px 3px 3px rgba(0, 0, 0, 0.2));
  }

  #reject-history{
    background-color: $brand-danger;
    color: white;
    width: 125px;
  }

  #comment-history{
    background-color: $brand-primary;
    color: white;
    width: 140px;
  }

}

//********************************************
//     flow
//********************************************

  .flow{
    padding: 20px 0 20px 0;
    display: table-cell;
    width: 20%;
    & > div {
      border: solid 1px $wealins_taupe;
      //border-radius: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 7px 5px 7px 0px;
      margin: 1px 0px;
      margin-left: 15px;
      font-size: 0.8em;
      background-color: lighten($wealins_taupe,15%);
      transition: all 0.2s ease-in-out;
      text-align: right;
    }
    & > div.active {
      margin-left: 0px;
      transition: all 0.2s ease-in-out;
      padding: 7px 15px 7px 0px;
    }
    & > div:hover {
      background-color: lighten($wealins_taupe,20%);
      @include box-shadow(1px 1px 3px rgba(0, 0, 0, .2));
      cursor: pointer;
      padding: 7px 15px 7px 0px;
    }
    & > div.current ~ div:hover {
      background-color: lighten($wealins_taupe,15%);
      @include box-shadow(none);
      cursor: default;
      padding: 7px 5px 7px 0px;
    }
    & > div.current {
      background-color: lighten($wealins_taupe,30%);
      font-size : 1.3em;
      font-weight: bold;
      @include box-shadow(3px 3px 5px rgba(0, 0, 0, .2));
      cursor: default;
    }
    & > div.current ~ div {
        color: grey;
    }  

    .flowInfo{
      font-size: 0.7em;
    }  
  }

//********************************************
//     survey
//********************************************
.survey{
    display: table-cell;
    width: 80%;
    padding: 15px;
    background-color: white;
    border-radius : 15px;
    @include box-shadow(3px 3px 5px rgba(0, 0, 0, .2));
    min-height: 500px;
    border: solid 1px grey;
    //margin-right: 10px;

  .title{
    font-size: 1.2em;
    color : $wealins_taupe_light;
    font-weight: bold;
    margin: 5px 0px;
  }
  .question{
    margin-left: 5px;
    padding : 2px 0px;
    text-decoration: none;
    color: black;
    .radio label, .checkbox label {
      min-height: 5px; 
    }
  }
  .question:not(.disabled):hover{
    background-color: lighten($wealins_taupe_light,20%);
  }
  .active .question:not(.disabled),
  {
    border: 2px solid rgba(34,190,222,0.4);
    border-radius: 10px;
    .paddingHorizontal2 {
      padding: 0px 4px;
    }
  }
  .question.disabled, .radio.disabled{
    background-color: #fff;
    color: #bbb;
  }

  .checkExplain{
    font-size:0.7em;
  }
  // .question.required::before {
  //   content: "*";
  //   color:red;
  //   font-weight: bold;
  //   float: left;
  //   margin-left: -10px;
  // }

    .animated.bounceIn{
        animation-duration: 1s;
    }
}


//********************************************
//     Registration
//********************************************
li.list-group-fund{
    position: relative;
    display: block;
    padding: 0px 4px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

//********************************************
//     Analysis
//********************************************

 a.analyis-invest-fund{
     cursor: pointer;
 }

 .client:hover {
   background-color : lighten($wealins_taupe_light,28%);
 }

 .client {
    margin-bottom: 10px;
 }

//********************************************
//     Client
//********************************************

///  Physical Client
.cli-phy {
  .cli-input-width {
    width: 208px;
  }
}

.float-right {
  float: right;
}

.radio input-datepicker input[type="text"] {
  margin-top: 0;
}

.rankWidth {
  width: 10% !important;
}

.toggle-icon { 
  color: $wealins_taupe; 
}

.form-row {
  margin-top: 10px;
}

.analysis-section{
  margin-top: 6px;
}

.center-content {
  text-align:center;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.popover {
  z-index: 999999999 !important;
}

.clickable{
  cursor: pointer;
}

.uppercase-text { 
  text-transform: uppercase;
}

