<ng-template ngbModalContainer></ng-template>

<!-- Brand and toggle get grouped for better mobile display -->
<nav class='row navbar navbar-default' [class.fixed]="navIsFixed" >



<a href="#" class="navbar-brand" ><img src="./assets/img/wealins-logo-flat.png" class="wealins-logo" /></a>


  <div class="col-md-8 col-md-offset-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
          <span class="sr-only">Toggle</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{'in': !isCollapsed}">
      <ul class="nav navbar-nav">
          <li [routerLinkActive]="['open']"> <a [routerLink]=" [path+'/policy'] "><i class="fa fa-newspaper-o" aria-hidden="true"></i> Policy </a> </li>
          <li [routerLinkActive]="['open']"> <a [routerLink]=" [path+'/client'] "><i class="fa fa-users" aria-hidden="true"></i> Client </a> </li>
          <li [routerLinkActive]="['open']"> <a [routerLink]=" [path+'/fund'] "><i class="fa fa-money" aria-hidden="true"></i> Fund </a> </li>
          <li [routerLinkActive]="['open']"> <a [routerLink]=" [path+'/agent'] "><i class="fa fa-handshake-o" aria-hidden="true"></i> Partner </a> </li>
          <li [routerLinkActive]="['open']" *ngIf="hasCommissionMgmt"> <a [routerLink]=" [path+'/commissionview'] "><i class="fa fa-envelope" aria-hidden="true"></i> Commission </a> </li>
          <li [routerLinkActive]="['open']" *ngIf="hasComptaRole"> <a [routerLink]=" [path+'/payments'] "><i class="fa fa-usd" aria-hidden="true"></i> Payments </a> </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
          <li ngbDropdown class="dropdown" >
            <a class="btn btn-outline-primary dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle>Account<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a [routerLink]=" ['./profile'] ">Password</a></li>
              <li><a class="clickable" (click)="logout()">Logout</a></li>    
            </ul>
          </li>

      </ul>
    </div>    
  </div>   
</nav>