<ng-template ngbModalContainer  *ngIf="!inModal"></ng-template>
<div class="marginTop4 relative" >
 <div [ngBusy]="[busy]">
	<div class="fund fund-container container-fluid relative">
		<div class="split-screen" [ngBusy]="subs">
			<div class="menu marginLeft3" *ngIf="!inModal">
				<div class="row vertical-center-noline ">
					<!-- Dedicated Fund: Header -->						
					<div class="col-md-6 paddingLeft12">
						<h3>{{title}}</h3>
					</div>
					<div class="col-md-6">
						<div class="pull-right paddingRight7">
							<button type="submit" class="btn btn-xs btn-primary" (click)="save()" [desactive]="mode">
								<i class="fa fa-floppy-o"></i>Save</button>
							<button type="button" class="btn btn-xs btn-primary" (click)="refresh()" [desactive]="mode">
								<i class="fa fa-refresh"></i>Refresh</button>
						</div>
					</div>
					
				</div>
			</div>	
			<!-- Dedicated Fund: Content -->			
				<div  [ngClass]="{'form':!inModal}">

					<div class="row">
						<div class="col-md-8 col-md-offset-2">	
							<ngbd-alert-container ref='fundCpt'></ngbd-alert-container>
						</div>
					</div>				

					<!-- Code/name/Pool/Document Name-->
					<div class="row">
						<div class="col-md-6" >
							<div class="form-horizontal">
								<div class="form-group">
									<label for="code" class="col-sm-4 control-label">Code</label>
									<div class="col-sm-2">
										<input disabled type="text" name="code" class="form-control input-sm rounded" id="code" [(ngModel)]="fund.fdsId" maxlength="8">					
									</div>
									<div class="form-group">
										<div class="col-sm-3 col-sm-push-1 col-md-push-3">
											<div class="checkbox checkbox-r">
												<label>
													<input #inputCheck type="checkbox"  [checked]="fund.status==1" (change)="checkChange(inputCheck)" [disabled]="fund.status==0 || mode == StateMode.readonly" >
													<span class="cr"><i class="cr-icon">&#x2714;</i></span> 
													Active
												</label>
											</div>
										</div>
															
									</div>
								</div>
							</div>
							
							<div class="form-horizontal">
								<div class="form-group">
									<label for="name" class="col-sm-4 control-label">Name</label>
									<div class="col-sm-5 col-md-8 col-lg-7">
										<input disabled type="text" name="name" class="form-control input-sm" id="name" [(ngModel)]="fund.name" maxlength="35">					
									</div>
								</div>
								
							</div>
						</div>

						<div class="col-md-6" >
							<div class="form-horizontal">
								<div class=" form-group ">
									<label class="col-sm-4 col-xs-1 col-lg-3 control-label">Pool</label>
									<div class="col-sm-2 col-xs-2 checkbox">
										<label class="nopadding">
											<input id="pool" name="pool" type="checkbox" [(ngModel)]="fund.pool" disabled>
											<span class="cr"><i class="cr-icon">&#x2714;</i></span>											
										</label>
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="documentationName" class="col-sm-4 col-lg-3 control-label">Document Name</label>								
									<div class="col-sm-5 col-md-8 col-lg-7">
										<input disabled name="documentationName" type="text" class="form-control input-sm" id="documentationName" [(ngModel)]="fund.documentationName" maxlength="100" >
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- currency-->
					<div class="row marginTop4">
						<div class="col-md-6">
							<div class="form-horizontal">
								<div class="form-group">
									<label for="currency" class="col-xs-2 col-sm-4 control-label">Currency</label>
									<div class="col-xs-3">
										<div class="form-inline">
											<select id="currency" 
													name="currency"
													class="form-control input-sm currency-select"
													[disabled]="fund.hasTransaction" 
													[desactive]="mode"
													[ngClass]="{'w-invalid': (fund.status == 0 && !fund.currency)}" 
													[required]="fund.status == 0"  
													[(ngModel)]="fund.currency">
												<option *ngFor="let c of currencyList" [ngValue]="c.ccyId">{{c.ccyId}}</option>
											</select>
										</div>
															
									</div>
								</div>								
							</div>							
						</div>						
					</div>

					<div class="row marginTop4">
						<div class="col-md-6">
							<div class="form-horizontal">
								<!-- custodian bank-->
								<div class="form-group">
									<label class="col-sm-4 control-label">Custodian Bank</label>
									<div class="col-sm-7">										
										<search-agent [disabled]="fund.hasTransaction || mode == StateMode.readonly" [required]="fund.status<2" [(agentId)]="fund.depositBank" [type]="'DB'"  (onChange)="setAgent($event, 'depositBankAgent')"></search-agent>
									</div>												
								</div>
								<!-- Payment contact-->
								<div class="form-group">
									<label class="col-sm-4 control-label">Payment contact</label>
									<div class="col-sm-5">
										<agc-add-select [disabled]="(fund && (!fund.depositBankAgent || !fund.depositBank)) || mode == StateMode.readonly" css="width-fluid-f-79 form-control input-sm"  [(agent)]="fund.depositBankAgent" [(contactId)]="fund.exDepositBankContact" fidFasLimitedList=true showAdd=false></agc-add-select>
									</div>
								</div>
								<!-- account root-->
								<div class="form-group">
									<label class="col-sm-4 control-label" >Account Root</label>	
									<div class="col-sm-5 col-md-8 col-lg-7">										
										<input [required]="fund.status==1" [disabled]="fund.exportedFund==1" [desactive]="mode" type="text" class="form-control input-sm" id="accountRoot" [(ngModel)]="fund.accountRoot" maxlength="20" placeholder="Input root or client reference{{ accountRootPattern }}">				
									</div>			
								</div>
								<!-- IBAN-->
								<div class="form-group">
									<label class="col-sm-4 control-label">IBAN</label>
									<div class="col-sm-5 col-md-8 col-lg-7">										
										<input [required]="fund.status==1" type="text" class="form-control input-sm" id="iban" [desactive]="mode" [ngModel]="fund.iban|iban" (ngModelChange)="fund.iban=$event" maxlength="43" >				
									</div>					
								</div>
								<!-- deposit account-->
								<div class="form-group">
									<label class=" col-sm-4 control-label" >Deposit Account</label>	
									<div class="col-sm-5 col-md-8 col-lg-7">										
										<input [required]="fund.status==1" type="text" class="form-control input-sm" id="depositAccount" [desactive]="mode" [(ngModel)]="fund.depositAccount" maxlength="35" >				
									</div>			
								</div>
								<!-- Fee account root-->
								<div class="form-group">
									<label class="col-sm-4 control-label">Custody fees(TTC)</label>
									<div class="col-sm-8">
										<!-- TODO : uncomment this section when the fund flat amount field is provided-->
										<percent-amount  [required]="fund.status==1" 
														 [(percent)]="fund.bankDepositFee"
														 [(flatAmount)]="fund.depositBankFlatFee"
														 [(currency)]="fund.bankDepFeeCcy"
														 [(currencyList)]="currencyList"
														 [defaultCurrency]="fund.currency"
														 [disabled]="mode == StateMode.readonly" >
										</percent-amount >
									</div>
								</div>	
								<div class="form-group" *ngIf="subType =='FID'">
									<label class="col-sm-4 control-label">Notes about deposit bank fees</label>
									<div class="col-sm-7">
										<textarea class="form-control" name="exDepBankNotes" id="exDepBankNotesId" rows="5" [(ngModel)]="fund.exDepBankNotes" maxlength="1000" [desactive]="mode"></textarea>										
									</div>			
								</div>
									<!--Financial Advisor-->
								<div class="form-group marginTop8" *ngIf="subType =='FAS'">
									<label class="col-sm-4 control-label">Financial Advisor</label>
									<div class="col-sm-7 col-md-7 col-lg-7">										
										<search-agent [showLabel]="true" [disabled]="(fund.broker && !fund.financialAdvisor) || mode == StateMode.readonly" [(agentId)]="fund.financialAdvisor" 
										[type]="financialAdvisorTypes" (onChange)="switchBrokerOrFinancialAdvisor($event,'financialAdvisorAgent')" searchForAgent="FA"></search-agent>
									</div>				
								</div>
								<div class="form-group" *ngIf="!!fund.financialAdvisor && !!fund.financialAdvisorAgent && subType =='FAS'">
									<label class="col-sm-4 control-label">Contact person</label>
									<div class="col-sm-5">
										<agc-add-select [disabled]="(fund && (!fund.financialAdvisorAgent || !fund.financialAdvisor)) || mode == StateMode.readonly" css="width-fluid-f-79 form-control input-sm"  [(agent)]="fund.financialAdvisorAgent" [(contactId)]="fund.salesRep" fidFasLimitedList=true showAdd=false></agc-add-select>
									</div>
								</div>
								<div class="form-group form-inline" *ngIf="subType =='FAS'">
									<label class="col-sm-4 control-label">Fees</label>	
									<div class="col-sm-5 col-md-5 col-lg-5">										
										<w-number [disabled]="!!fund.broker" [precision]="6" [(number)]="fund.finAdvisorFee" css="form-control input-sm text-right input-percent" [mode]="mode" ></w-number>%
									</div>				
								</div>

								<!--Circular-->
								<div class="form-group form-inline marginTop8">
									<label class="col-sm-4 control-label">Circular</label>	
									<div class="col-sm-5 col-md-5 col-lg-5">	
										<circular [mode]="mode" [(value)]="fund.groupingCode" [required]="fund.status==1"></circular>
									</div>				
								</div>
								<!-- Fund Classification -->
								<div class="form-group">
									<label class="col-sm-4 control-label">Fund Classification</label>	
									<div class="col-sm-2 col-md-2 col-lg-2">
										<select [required]="fund.status==1" class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fund.fundClassification" id="fundClassification" name="fundClassification">
											<option *ngFor="let e of fundClassificationList" [ngValue]="e.keyValue">{{e.description}}</option>
										</select>
									</div>
								</div>																																		
							</div>
							<div class="line-break"></div>				
						</div>


						<div class="col-md-6" *ngIf="subType =='FAS'">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Broker</label>
									<div class="col-sm-7">
										<search-agent [disabled]="(fund.financialAdvisor && !fund.broker) || mode == StateMode.readonly" [(agentId)]="fund.broker" [type]="'BK'" (onChange)="switchBrokerOrFinancialAdvisor($event,'brokerAgent')"></search-agent>
									</div>
								</div>
								<div class="form-group" *ngIf="!!fund.broker && !!fund.brokerAgent">
									<label class="col-sm-4 col-lg-3 control-label">Contact person</label>
									<div class="col-sm-5">
										<agc-add-select [disabled]="(fund && (!fund.brokerAgent || !fund.broker)) || mode == StateMode.readonly" css="width-fluid-f-79 form-control input-sm"  [(agent)]="fund.brokerAgent" [(contactId)]="fund.salesRep"></agc-add-select>
									</div>
								</div>
								<div class="row marginTop3" *ngIf="!fund.broker">&nbsp;</div>
								<div class="row">&nbsp;</div>
								<div class="row">&nbsp;</div>
								<div class="row">&nbsp;</div>
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Wealins fees(TTC)</label>
									<div class="col-sm-8 form-inline">
										<percent-amount   [(percent)]="fund.assetManagerFee" 
														  [(flatAmount)]="fund.finFeesFlatAmount"
														  [required]="fund.status==1"
														  [(currency)]="fund.assetManFeeCcy"
														  [(currencyList)]="currencyList"
														  [defaultCurrency]="fund.currency"
														  [disabled]="mode == StateMode.readonly"> 
										</percent-amount >			
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="form-horizontal" *ngIf="subType =='FID'">
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Asset Manager</label>
									<div class="col-sm-7">
										<search-agent  [required]="fund.status<2" [disabled]="mode == StateMode.readonly" [(agentId)]="fund.assetManager" [type]="'AM'" (onChange)="setAgent($event, 'assetManagerAgent')"></search-agent>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Contact person</label>
									<div class="col-sm-5">
										<agc-add-select [disabled]="(fund && (!fund.assetManagerAgent || !fund.assetManager)) || mode == StateMode.readonly" css="width-fluid-f-79 form-control input-sm"  [(agent)]="fund.assetManagerAgent" [(contactId)]="fund.salesRep" fidFasLimitedList=true showAdd=false></agc-add-select>
									</div>
								</div>
								

								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Asset management fees(TTC)</label>
									<div class="col-sm-8">
										<percent-amount   [(percent)]="fund.assetManagerFee" 
														  [(flatAmount)]="fund.finFeesFlatAmount"
														  [required]="fund.status==1"
														  [(currency)]="fund.assetManFeeCcy"
														  [(currencyList)]="currencyList"
														  [defaultCurrency]="fund.currency"
														  [disabled]="mode == StateMode.readonly"> 
											<ng-container *ngIf="subType =='FID'">
												<label for="allInFeesId" class="control-label">All in fees</label>
												<div class="checkbox">
													<label class="paddingTop2">
														<input  id="allInFeesId" name="allInFees" type="checkbox" [desactive]="mode"
																[(ngModel)]="fund.exAllInFees" [checked]="fund.exAllInFees">
														<span class="cr"><i class="cr-icon">&#x2714;</i></span>
													</label>
												</div>
											</ng-container>											
										</percent-amount >																		
									</div>			
								</div>
								<div class="form-group" *ngIf="subType =='FID'">
									<label class="col-sm-4 col-lg-3 control-label">Notes about asset manager fees</label>
									<div class="col-sm-7">
										<textarea class="form-control" name="exAssManNotes" id="exAssManNotesId" rows="5" [(ngModel)]="fund.exAssManNotes" maxlength="1000" [desactive]="mode"></textarea>										
									</div>			
								</div>
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">Yearly Amount Min</label>
									<div class="col-sm-8 col-lg-9" >
										<div class="form-inline">
											<div>
												<!--<input name="finFeesMinAmount" type="text" currencyFormatter class="form-control input-sm text-right" id="finFeesMinAmount" [(ngModel)]="fund.finFeesMinAmount" >													-->
												<w-number  [(number)]="fund.finFeesMinAmount" css="form-control input-sm text-right" [mode]="mode" ></w-number>    
												<label class="marginLeft" for="finFeesMaxAmount">Max</label>
												<!--<input name="finFeesMaxAmount" type="text" currencyFormatter class="form-control input-sm text-right" id="finFeesMaxAmount" [(ngModel)]="fund.finFeesMaxAmount" >-->
												<w-number  [(number)]="fund.finFeesMaxAmount" css="form-control input-sm text-right" [mode]="mode" ></w-number>
												<select class="form-control input-sm" [desactive]="mode" [(ngModel)]="fund.assetManFeeCcy" id="currency" name="currency">
													<option *ngFor="let c of currencyList" [ngValue]="c.ccyId">{{c.ccyId}}</option>
												</select>
											</div>
										</div>										
									</div>									
								</div>
								<div class="form-group">
									<!-- Performance Fee -->					
									<label class="col-sm-4 col-lg-3 control-label">Performance Fee</label>
									<div class="col-sm-8 col-lg-7">
										<textarea class="form-control" name="performanceFee" id="performanceFee" rows="4" [(ngModel)]="fund.performanceFee" maxlength="1000" [desactive]="mode"></textarea>							
									</div>
								</div>
							</div>
							<div class="form-horizontal">
								<div class="form-group marginTop4">							
									<!-- Private equity -->
									<label for="privateEquity" class="col-sm-4 col-lg-3 control-label">Private Equity</label>
									<div class="col-sm-1">
										<div class="checkbox">
											<label>
												<input #privateEquity id="privateEquity" name="privateEquity" type="checkbox" [desactive]="mode"
														[(ngModel)]="fund.privateEquity" (change)="privateEquityChecked(privateEquity)">
												<span class="cr"><i class="cr-icon">&#x2714;</i></span>
											</label>
										</div>										
									</div>
								</div>

								<div class="form-group" *ngIf="fund.privateEquity">
									<!-- private equity Fee -->	
									<label class="col-sm-4 col-lg-3 control-label">Fees</label>
									<div class="col-md-8 col-lg-9">
										<div class="form-inline">
											<!--<input [disabled]="!fund.privateEquity" currencyFormatter id="privateEquityFee" name="privateEquityFee" type="text" class="form-control input-sm text-right" [(ngModel)]="fund.privateEquityFee">-->
											<w-number [(number)]="fund.privateEquityFee" css="privateEquity-fees form-control input-sm text-right" [mode]="mode" [disabled]="!fund.privateEquity" ></w-number>
											<select disabled class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fund.currency" id="currency" name="currency">
												<option *ngFor="let c of currencyList" [ngValue]="c.ccyId">{{c.ccyId}}</option>
											</select>
										</div>										
									</div>	
								</div>								
							</div>
						</div>
					</div>
					<div class="line-break-thin"></div>

					<!-- Investissement -->
					<div class="row">						
						<div class="col-md-6">
							<div class="form-horizontal">
								<!-- Risk Profile date -->					
								<div class="form-group">
									<label class="col-sm-4 control-label ">Risk Profile Date</label>
									<div class="col-sm-5">
										<datepicker [disabled]="mode == StateMode.readonly" [(date)]="fund.riskProfileDate"></datepicker>								
									</div>														
								</div> 									
								<!-- Risk Profile -->
								<div style="transition : height 2s linear">	
									<section >					
										<div class="form-group">
											<label class="col-sm-4 control-label">Risk Profile</label>
											<div class="col-sm-8 col-lg-7">
												<div class="col-sm-7 nopadding">
													<am-strategy-list [option]="riskProfileOpt" [mode]="mode" [required]="fund.status==1" [assetManagerId]="fund.assetManager" [(modelId)]="fund.riskProfile"></am-strategy-list>
												</div>
												<div class="form-inline">											
													<div class="col-sm-5 col-sm-push-1 col-lg-5 form-group nopadding" *ngIf="fund.riskProfile">
														<label>Class of risk</label>
														<select class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fund.classOfRisk" id="classOfRisk" name="classOfRisk">
															<option value=""></option>
															<option *ngFor="let e of riskClassList" [ngValue]="e.keyValue">{{e.description}}</option>
														</select>													
													</div>
												</div>
											</div>			
										</div>
										<div class="form-group" *ngIf="subType =='FID'">
											<label class="col-sm-4 control-label ">Notes about risk profile of funds</label>
											<div class="col-sm-7">
												<textarea class="form-control" name="exRiskProfileNotes" id="exRiskProfileNotesId" rows="5" [(ngModel)]="fund.exRiskProfileNotes" maxlength="1000" [desactive]="mode"></textarea>																		
											</div>														
										</div> 

										<!-- Risk currency -->						
										<div class="form-group">
											<label class=" col-sm-4 control-label">Risk Currency</label>
											<div class="col-sm-8 col-lg-7">
												<am-strategy-list [option]="riskCurrencyOpt" [mode]="readOnlyModeForType(subType)" [assetManagerId]="fund.assetManager" [(modelId)]="fund.riskCurrency"></am-strategy-list>
											</div>
										</div>
										<!-- Invest Cat -->
										<div class="form-group">
											<label class="col-sm-4 control-label">Invest Cat</label>
											<div class="col-sm-8 col-lg-7">									
												<am-strategy-list [option]="investCatOpt" [mode]="readOnlyModeForType(subType)" [assetManagerId]="fund.assetManager" [(modelId)]="fund.investCat"></am-strategy-list>
											</div>
										</div>
										<!-- Alternative fund -->
										<div class="form-group">
											<label class="col-sm-4 control-label">Alternative Fund</label>
											<div class="col-sm-8 col-lg-7">											
												<am-strategy-list [option]="alterFundOpt" [mode]="mode" [assetManagerId]="fund.assetManager" [(modelId)]="fund.alternativeFunds"></am-strategy-list>
											</div>
										</div>
										<!-- Invest Cash Limit -->
										<div class="form-group">
											<label class="col-sm-4 control-label">Invest Cash Limit</label>
											<div class="col-sm-8 col-lg-7">
												<div class="form-inline">
													<!--<input pattern="^\d+([.]\d{2})*$" currencyFormatter type="text" name="investCashLimit" id="investCashLimit" class="form-control input-sm text-right width-fluid-f-12" [(ngModel)]="fund.investCashLimit">-->
													<w-number [(number)]="fund.investCashLimit" css="form-control input-sm text-right width-fluid-f-12" [mode]="mode"></w-number>
													<label>%</label>
												</div>
											</div>
										</div>
									</section>
								</div>								
							</div>
						</div>
						<div class="col-md-6 marginTop8">
							<!-- E-Banking access -->					
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 col-lg-3 control-label">eBanking Access</label>
									<div class="col-sm-3">
										<div class="checkbox">
											<label>
												<input id="poc" name="poc" type="checkbox" [desactive]="mode" [(ngModel)]="fund.poc" >
												<span class="cr">
													<i class="cr-icon">&#x2714;</i>
												</span>
											</label>
										</div>										
									</div>
								</div>
								<!-- Power of Attorney -->					
								<div class="form-group">
									<label for="poa" class="col-sm-4 col-lg-3 control-label">Power of Attorney</label>
									<div class="col-sm-3">
										<div class="checkbox">
											<label>
												<input id="poa" name="poa" type="checkbox" [desactive]="mode" [(ngModel)]="fund.poa" (change)="poaChecked($event)">
												<span class="cr">
													<i class="cr-icon">&#x2714;</i>
												</span>
											</label>										
										</div>
									</div>									
								</div>

								<div *ngIf="fund.poa">
									<!-- Power of Attorney type POA -->
									<div class="form-group">
										<label class="col-sm-4 col-lg-3 control-label">Type</label>
										<div class="col-sm-5 col-lg-4">
											<select [disabled]="!fund.poa" class="form-control input-sm text-left" [desactive]="mode" [(ngModel)]="fund.poaType" id="typePOA" name="typePOA">
												<option *ngFor="let e of typePOAList" [ngValue]="e.keyValue">{{e.description}}</option>
											</select>
										</div>
									</div>
									<!-- Mandate holder -->
									<!-- FIXME: doit exister dans AGENTS -->
									<div class="form-group">
										<label class="col-sm-4 col-lg-3 control-label">Mandate Holder</label>
										<div class="col-sm-5">
											<search-client [disabled]="!fund.poa || mode == StateMode.readonly" [(clientId)]="fund.mandateHolder"></search-client>
										</div>
									</div>
									<!-- date manadate holder -->					
									<div class="form-group">
										<label class="col-sm-4  col-lg-3 control-label">Date</label>
										<div class="col-sm-8 col-lg-9">
											<datepicker [disabled]="!fund.poa || mode == StateMode.readonly" [(date)]="fund.poaDate"></datepicker>
										</div>
									</div>
								</div>
								<!-- Notes -->
								<div class="form-group">				
									<label class="col-sm-4 col-lg-3 control-label">Note</label>
									<div class="col-sm-8 col-lg-7">
										<textarea name="notes" id="notes" class="form-control w-100" rows="4" [desactive]="mode" [(ngModel)]="fund.notes" maxlength="100"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<fund-footer [fund]="fund"></fund-footer>


				</div>
			
		</div>
	</div>
  </div>
</div>