<!--<ng-template ngbModalContainer></ng-template>-->

<div class="split-screen">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 menu">
          <div class="col-md-1 nopadding">
            <img alt="Wealins" src="./assets/img/wealins-logo-flat.png" class="pull-left marginTop" width="120">
          </div>
          <div class="col-md-2 marginTop3">
            <label><b>Policy</b></label> {{p?.polId}}
          </div>
          <div class="col-md-2 marginTop3">
            <label><b>Application Nr</b></label> {{p?.additionalId}}
          </div>
          <div class="col-md-2 marginTop3">
            <div>{{p?.product?.prdId}} {{p?.product?.name}}</div>
          </div>
          <div class="col-md-2 marginTop3">
            <label><b>Status</b></label> {{p?.policyStatus?.description}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form relative">
    <div class="row" [ngBusy]="subs">

      <div class="col-xs-6">

        <policy-clients
          [product]="p.product"
          [policyHolders]="p.policyHolders"
          [insureds]="p.insureds"
          [deathBeneficiaries]="p.deathBeneficiaries"
          [lifeBeneficiaries]="p.lifeBeneficiaries"
          [otherClients]="p.otherClients"
          [labelClass]="'col-md-3'">
        </policy-clients>
        
        <div class="line-break"></div>

        <section subject="clauses">          
          <div class="relative">
            <ng-container [ngBusy]="subs">
              <div class="row">
                <div class="title col-md-5 col-md-offset-1">Death Clauses</div>
              </div>
              <div class="row" *ngIf="clauses">
                <ul class="col-md-10 col-md-offset-1 list-unstyled line-breaker">
                  <li *ngFor="let dcn of clauses.death | filter:'item.typeOfClause!=\'N\''">{{dcn | textOfClause }}</li>
                </ul>
              </div>

            <!--/end Death Clauses-->
            <ng-container *ngIf="p.firstPolicyCoverages?.term != 0 ">
              <div class="row">
                <div class="title col-md-5 col-md-offset-1">Life Clauses</div>
              </div>
              <div class="row" *ngIf="clauses">
                <ul class="col-md-10 col-md-offset-1 list-unstyled  line-breaker">
                  <li *ngFor="let dcn of clauses.maturity | filter:'item.typeOfClause!=\'N\''"> {{ dcn | textOfClause }}</li>
                </ul>
              </div>
            </ng-container>

            <!--/end Life Clauses-->
            </ng-container>
          </div>
        </section>

      </div>
      <!--/ end left side-->

      
        <div class="col-xs-6">
          <section subject="date-of-effect-and-term">
            <div class="row">
              <div class="title col-md-5 col-md-offset-1">Date of effect & Term</div>
            </div>
            <div class="row">
              <label class="col-md-2 text-right">Date of Effect</label>
              <div class="col-md-2">{{p.dateOfCommencement | wdate}}</div>
              <label class="col-md-1 text-right">Term</label>
              <ng-container [ngSwitch]="p.firstPolicyCoverages?.term">
                <div class="col-md-2" *ngSwitchCase="0">Whole Life</div>
                <div class="col-md-2" *ngSwitchDefault>{{ p.firstPolicyCoverages?.term }} Year(s)</div>
              </ng-container>
            </div>
            <div class="row">
              <label class="col-md-2 text-right">Lives</label>
              <div class="col-md-4"><span> {{ p.firstPolicyCoverages?.lives?.description }} </span></div>
            </div>
          <!--/ end Date of effect and term-->
        </section>

        <!-- partners -->
        <policy-partners
          [broker] = "p.broker"
          [brokerContact] = "p.brokerContact"
          [subBroker] = "p.subBroker"
          [contactFunctions]="contactFunctions"
          [businessIntroducer]="p.businessIntroducer"
          [countryManagers]="p.countryManagers"
          [brokerRefContract]="p.brokerRefContract">
        </policy-partners>

        <!-- communication and specifities-->
        <policy-communication
          [category]="p.category"
          [mailToAgent]="p.mailToAgent"
          [orderByFax]="p.orderByFax"
          [mandatoAllIncasso]="p.mandatoAllIncasso"
          [exMandate]="p.exMandate"
          [nonSurrenderClauseDate]="p.nonSurrenderClauseDate"
          [scudo]="p.scudo"
          [assignmentPledge]="p.assignmentPledge"
          [assignmentPledgeDetails]="p.assignmentPledgeDetails">
        </policy-communication>

        <section subject="death-coverage">
          <div class="row">
            <div class="title col-md-5 col-md-offset-1">Death Coverage</div>
          </div>
          <div class="row">
            <label class="col-md-2 text-right">Clause</label>
            <div class="col-md-10">{{ deathCoverageTxt }}</div>
          </div>
        </section>

        <section subject="score">
          <div class="row" *ngIf="p.scoreNewBusiness!=null || p.scoreLastTrans!=null">
            <label class="col-md-2 title">Score</label>
          </div>
          <div class="row" *ngIf="p.scoreNewBusiness!=null || p.scoreLastTrans!=null">
            <div class="col-md-3" *ngIf="p.scoreNewBusiness!=null">
              <label class="col-md-9 text-right paddingLeft">New Business</label>
              <div class="col-md-3">{{ p.scoreNewBusiness }}</div>
            </div>
            <div class="col-md-3 nopadding" *ngIf="p.scoreLastTrans!=null" [ngClass]="{'col-md-offset-4': !p.scoreNewBusiness && p.scoreNewBusiness!=0}">
              <label class="col-md-7 text-right">Last transaction</label>
              <div class="col-md-4">{{ p.scoreLastTrans }}</div>
            </div>
          </div>
        </section>

        <!--/ end Lives-->
        <section subject="notes">
          <div class="row" *ngIf="p.policyNotes && p.policyNotes.length > 0">
            <div class="title col-md-5 col-md-offset-1">Notes</div>
          </div>
          <div class="row marginTop4" *ngIf="p.policyNotes && p.policyNotes.length > 0">
            <div class="col-md-9 col-md-offset-1 col-xs-12">
              <table class="table dataTable table-striped table-hover fullwidth" role="grid">
                <thead>
                  <tr role="row">
                    <th class="width-fluid-25">Type</th>
                    <th class="width-fluid-75">Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let policyNote of p.policyNotes | filter:'item.type.number!=3 && item.type.number!=4'">
                    <td>{{ policyNote?.type?.description }}</td>
                    <td>{{ policyNote?.note?.details }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <!--/ end right side-->

    </div>
    <!--/ end top side-->
    <section subject="valuation">
      <div class="row">
        <div class="title col-md-5 col-md-offset-1">Valuation</div>
      </div>
      <div class="row" *ngIf="valuable">
        <label class="col-md-1 text-right">Date of valuation</label>
        <datepicker [(date)]="valuableDate" (dateChange)="findValuationByPolIdAndDate(p?.polId, $event)"></datepicker>
      </div>
      <div class="row marginTop4 relative" *ngIf="valuable">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <table class="table dataTable table-striped table-hover fullwidth" role="grid" [ngBusy]="[valuationBusy]">
            <thead>
              <tr role="row">
                <th class="width-fluid-1"></th>
                <th class="width-fluid-50">Fund</th>
                <th class="width-fluid-1">Broker</th>
                <th class="width-fluid-1">Commission</th>
                <th class="width-fluid-1">Admin Fees</th>
                <th class="width-fluid-1">Units</th>
                <th class="width-fluid-1">Price</th>
                <th class="width-fluid-1">Price Date</th>
                <th class="width-fluid-1">Value</th>
                <th class="width-fluid-1">Share</th>
                <th class="width-fluid-1">Policy Currency Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holding of (valuable.holdings); let i = index">
                <td><span class="fund-badge">{{  holding?.fundSubType?.trim() }}</span></td>
                <td style="word-wrap: break-word"><span><a highlight="text-danger"  [pattern]="fundNameRegXp" target="_blank" [routerLink]="'/fund/'+ holding.fundSubType.trim() + '/' + holding.fundId">{{ (!!holding?.fundDisplayName) ? holding?.fundDisplayName : holding?.fundId}}</a></span></td>
                <td>
                  <!-- <span class="text-nowrap">{{ holding.agent }}</span> -->
                  <a [routerLink]="'/agent/' + holding.agent" target="_blank">
                                      <span class="text-nowrap">{{ holding.agentName }}</span>
                                  </a>
                </td>
                <td><span class="text-nowrap">{{ holding.commissionRate}}%</span></td>
                <td><span class="text-nowrap">{{ holding.feeRate }}%</span></td>
                <td class="text-right"><span class="text-nowrap">{{ holding?.units | currencyFormatter:",":" ":"":"":6 }}</span></td>
                <td class="text-right"><span class="text-nowrap">{{ holding?.price | currencyFormatter:",":" ":"":"":6}}</span></td>
                <td><span class="text-nowrap">{{ holding?.priceDate | date :'dd/MM/yyyy' }}</span></td>
                <td class="text-right"><span class="text-nowrap">{{ holding?.holdingValueFundCurreny | currencyFormatter }} {{ holding?.fundCurrency }}</span></td>
                <td class="text-right"><span class="text-nowrap">{{ (holding?.holdingValuePolicyCurrency / valuable.totalPolicyCurrency * 100) | number:'1.2-2'}}%</span></td>
                <td class="text-right"><span class="text-nowrap">{{ holding?.holdingValuePolicyCurrency | currencyFormatter: ",":" ":"":"":2:true }} {{ valuable?.policyCurrency }}</span></td>
              </tr>
              <tr *ngIf="!valuable.holdings || valuable.holdings.length == 0">
                <td colspan="13" class="text-center">
                  <p>No result found </p>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="valuable.holdings && valuable.holdings.length > 0">
              <tr>
                <td colspan="9"></td>
                <th><label>Total</label></th>
                <td class="text-right"><span>{{ valuable?.totalPolicyCurrency | currencyFormatter: ",":" ":"":"":2:true }} {{ valuable?.policyCurrency }}</span></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- /End of Valuable-->
    </section>

    

    <policy-operation [policyId]="p.polId"></policy-operation> 

    <section subject="transactions">
      <div class="row">
        <div class="title col-md-5 col-md-offset-1">Transactions and Events</div>
      </div>
      <div class="row">
        <transaction-search [transfers]="p?.policyTransfers" [policyId]="p?.polId" [product]="p?.product" [firstPolicyCoverages]="p?.firstPolicyCoverages" class="col-md-12 col-xs-12 col-lg-12"></transaction-search>
      </div>
    </section>
    
  </div>
</div>