<p><datepicker [(date)]="fundPriceMaxDate" (dateChange)="searchFundPrices(_fundId,1, $event)"></datepicker></p>

<div class="relative">
<div [ngBusy]="[pricesBusy]">
	
	<table class="table dataTable table-striped table-hover fullwidth" role="grid" >
		<thead>
			<tr role="row">
				<th class="width-fluid-1">Date</th>
				<!--<th class="width-fluid-1">Type</th>-->
				<th class="width-fluid-1">Price</th>
				<th class="width-fluid-1">Currency</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngIf="!!pricesPage">
				<tr *ngFor="let price of (pricesPage.content); let i = index">
					<td>{{ price?.date0 | wdate }}</td>
					<!--<td><span class="text-nowrap">{{price.type?.description}}</span></td>-->
					<td class="text-right">{{ price?.price | currencyFormatter:',':' ':'':'':6:false}}</td>
					<td>{{ price?.currency }}</td>
				</tr>
				<tr *ngIf="!pricesPage.content || pricesPage.content.length == 0">
					<td colspan="9" class="text-center">
						<p>No result found </p>
					</td>
				</tr>
			</ng-container>
		</tbody>
		<tfoot *ngIf="!!pricesPage && pricesPage.totalPageCount > 1">
			<tr>
				<td colspan="10" class="text-center">
					<!-- <ngb-pagination *ngIf="pricesPage.totalPageCount > 1" class="text-center" (pageChange)="searchFundPrices(_fundId, $event, fundPriceMaxDate)" [collectionSize]="pricesPage.totalRecordCount"
					[pageSize]="pricesPage.pageSize" [(page)]="pricesPage.currentPage" [maxSize]="6" [ellipses]="true" [boundaryLinks]="true"></ngb-pagination> -->
                        <pagination  class="text-center" [boundaryLinks]="true" 
                                    [totalItems]="pricesPage.totalRecordCount" [itemsPerPage]="pricesPage.pageSize" [(ngModel)]="pricesPage.currentPage" (pageChanged)="searchFundPrices(_fundId, $event.page, fundPriceMaxDate)" [maxSize]="6"
                                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>                                                    
 				
				
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</div>