<ng-template ngbModalContainer></ng-template>
<div class="split-screen relative">
    <div [ngBusy]="subs">
        <workflow-header [workflowName]="'Additional Premium'" [workflowItemId]="step?.workflowItemId" [workFlowStatus]="step?.workFlowStatus" [assignedTo]="step?.assignedTo"
            [polId]="step?.polId" [applicationForm]="step?.applicationForm" [productCd]="step?.productCd" [productName]="step?.productName"
            [secondCpsUser]="secondCpsUser" [firstCpsUser]="firstCpsUser" [rejectable]="step?.stepRejectable" [mode]="headerMode"
            [commentsData]="commentsData" [rejectsData]="rejectsData" (onSave)="save()" (onAbort)="abort()" (onNext)="next()"
            [canAbort]="step?.stepAbortable" (onReject)="reject()" (onAddStepComment)="addStepComment($event)">
            <ng-container ngProjectAs="additionnal-buttons">
                <button class="btn btn-xs btn-default" (click)="printAcceptanceReport()" [desactive]="headerMode" *ngIf="canPrintAcceptanceReport">
                    <i class="fa fa-print" aria-hidden="true" ></i> Acceptance
                </button>                                        
                <button class="btn btn-xs btn-primary" (click)="generateDocumentation()" [desactive]="headerMode" *ngIf="isDocumentationAvailable">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Documentation
                </button>
                <button class="btn btn-xs btn-primary" (click)="simulate()" [desactive]="headerMode" *ngIf="isSimulationAvailable">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Simulation
                </button>
            </ng-container>
            <ng-container ngProjectAs="additionnal-buttons-always-shown">
                <button *ngIf="canRecreate" class="btn btn-xs btn-default" (click)="recreate()" [desactive]="headerMode"><i class="fa fa-undo" aria-hidden="true" ></i> Recreate</button>
            </ng-container>
        </workflow-header>

        <div class="row">
            <div class="form-horizontal" [ngClass]="{'col-xs-6' : viewSimulation, 'col-xs-7' : !viewSimulation}">
                <additional-premium-analysis *ngIf="step?.formData"
                    [usersList]="usersList" 
                    [form]="step?.formData"
                    [stepName]="step?.stepWorkflow"
                    [workflowItemId] = "step?.workflowItemId"
                    [policyIdDisabled] = "!!step?.polId"
                    [paymentMode]="paymentMode"
                    [cpsMode]="cpsMode"
                    [mode]="formsMode">
                </additional-premium-analysis>                                
            </div>
            <div class="paddingLeft" [ngClass]="{'col-xs-6' : viewSimulation, 'col-xs-5 paddingLeft' : !viewSimulation}">
                <div *ngIf="!viewSimulation" [@enterAnimation]>
                    <survey 
                        [inputData]="step?.checkSteps" 
                        [workflowItemId]="step?.workflowItemId" 
                        [stepWorkflow]="step?.stepWorkflow" 
                        [mode]="surveyMode"
                        [hotReload]="true">          
                    </survey>
                </div>                
                <div *ngIf="viewSimulation" [@enterAnimation]>
                    <simulation
                        [loadObservable]="simulationObservable" 
                        (onRefresh)="refresh()"
                        (onClose)="onSimulationClose()">
                    </simulation>
                </div>       
            </div>
        </div>
    </div>
</div>