.trans-history-details {
    
    .outer-table {
        overflow-y:visible;
        overflow-x:visible;
        background-color: #e9e9e9;
    }
    .width-fluid-1 {
        box-sizing: content-box; 
        background-color: #eceae3;     
    }
}

.EmptytransactionsDetails {
    Font-Weight: Bolder;
    font-size: 13px;
}
.details-row{
    background-color:#f9f8dd;
}

.row-onDetails-expanded{
    Font-Weight: Bold;
    //box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 9px 0 rgba(0, 0, 0, 0.1);
}
.buttonclose{
    float:right;
    height: 25px;
}
.details-title{
    Font-Weight: Bolder;
    padding: 3px;
}

.details-subtitle {
    Font-Weight: Bolder;
    float: initial;
    display: BLOCK;
    margin-left: 5px;
}

.details-table-header {
    Font-Weight: Bold;
    background-color: #9b8e68;
}

.switchDetailsTableTitle{
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    margin: 5px 0px;
    background-color: white;
    border-radius: 10px;
    width: auto;
    padding: 0px 10px;
    box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.3);
}




