<div class="form">


    <div class="row">
        <div class="title col-md-6 col-md-offset-1"></div>
    </div>
    <div class="row">
        <label class="marginTop col-md-2 text-right">CPS 1</label>
        <div class="form-group col-md-4 form-inline">
                 <select class="form-control input-sm text-left" [(ngModel)]="d.firstCpsUser" [desactive]="mode">
                    <option *ngFor="let a of usersList" [ngValue]="a.usrId">{{a.name0}}</option>
                </select>
        </div> 
         <label class="marginTop col-md-2 text-right">CPS 2</label>
        <div class="form-group col-md-4 form-inline">
                <select class="form-control input-sm text-left" [(ngModel)]="d.secondCpsUser" [desactive]="mode">
                    <option *ngFor="let a of usersList" [ngValue]="a.usrId">{{a.name0}}</option>
                </select> 
        </div>        
    </div>
    <div class="line-break-big"></div>

    <div>
        <registration [registration]="d" [mode]="'waiting'"></registration>
    </div>

</div>
