<div class="row" *ngIf="policyTransfers && policyTransfers.length > 0">
    <label class="col-md-2 marginTop col-md-offset-7">From policy</label>
    <label class="col-md-2 marginTop ">Date of effect of old policy</label>
</div>

<ng-template ngFor let-policyTransfer [ngForOf]="policyTransfers" let-i="index" let-last="last">
    <div class="row form-horizontal marginBottom">
        <div class="col-md-2 col-md-offset-7">
            <input type="text" class="form-control input-sm" maxlength="20" [(ngModel)]="policyTransfer.fromPolicy" [desactive]="mode">
        </div>
        <div class="col-md-2">
            <datepicker [disabled]="mode=='readOnly' || mode=='waiting'" [(date)]="policyTransfer.fromPolicyEffectDt"></datepicker>
        </div>

        <!-- Buttons for adding/removing -->
        <button class="btn btn-sm btn-primary " (click)="remove(policyTransfer)" [desactive]="mode"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <button *ngIf="last" class="btn btn-sm btn-primary" (click)="addNewTransfer()" [desactive]="mode"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</ng-template>
<div class="line-break"></div>