<search-menu path='..'></search-menu>
<div class="line-break"></div>
<div class="split-screen relative">
    <div class="form" [ngBusy]="subs">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="marginTop-f-4">
                        <div class="col-md-2">
                            <div class="input-group">
                                <input autofocus type="text" class="input-sm form-control" (keydown.enter)="filter()" [formControl]="queryInputControl"
                                    [(ngModel)]="queryString" placeHolder="filter results">
                                <span class="input-sm input-group-addon">
                                    <i class="fa fa-search clickable" (click)="filter()"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 checkbox lightMarginTop">
                            <label><input type="checkbox" [(ngModel)]="showStatus[transferStatus.COMPTA]" (change)="filter()">
                                <span class="cr"><i class="cr-icon">&#x2714;</i></span>Compta</label>
                            <label><input type="checkbox" [(ngModel)]="showStatus[transferStatus.ACCEPTED]" (change)="filter()">
                                <span class="cr"><i class="cr-icon">&#x2714;</i></span>Accepted</label>
                            <label><input type="checkbox" [(ngModel)]="showStatus[transferStatus.REFUSED]" (change)="filter()">
                                <span class="cr"><i class="cr-icon">&#x2714;</i></span>Refused</label>                            
                            <div class="filter-buttons-wrapper btn-palette">
                                <button tooltip="Clear filters" class="btn btn-primary btn-circle" type="button" (click)="clear()"><i class="fa fa-eraser"
                                    aria-hidden="true"></i></button>
                                <button tooltip="Refresh payments" class="btn btn-primary btn-circle" type="button" (click)="refresh()"><i class="fa fa-refresh"
                                    aria-hidden="true"></i></button></div>                            
                        </div>   
                        
                        <div class="col-md-2 col-md-offset-1">    
                                <button class="btn btn-xs btn-primary pull-right" (click)="executeCsv()" style="margin-left: 5%" [disabled]="!totalSWIFT">
                                    <i class="fa fa-file"></i>Create csv file
                                </button>
                                <ng-container *ngIf="numberSwiftSelected > 0; else noCsvSelected">
                                    <span class="pull-right lightMarginTop"><span class="badge badge-pill badge-primary badge-sm" [tooltip]="numberSwiftSelected + ' Swift payments selected'">{{numberSwiftSelected}}</span> &Sigma; : {{totalSWIFT}}</span>                                                                              
                                </ng-container>
                                <ng-template #noCsvSelected>
                                    <small class="pull-right lightMarginTop"><i>No payments selected</i></small>
                                </ng-template>                                                           
                        </div>
                        <div class="col-md-2 ">    
                            <button class="btn btn-xs btn-primary pull-right" (click)="executeSepa()" style="margin-left: 5%" [disabled]="!totalMultiline">
                                <i class="fa fa-file"></i>Create file
                            </button>
                            <ng-container *ngIf="numberSepaSelected > 0; else noSepaSelected">
                                <span class="pull-right lightMarginTop"><span class="badge badge-pill badge-primary badge-sm" [tooltip]="numberSepaSelected + ' Sepa payments selected'">{{numberSepaSelected}}</span> &Sigma; : {{totalMultiline}}</span>                                                                              
                            </ng-container>
                            <ng-template #noSepaSelected>
                                <small class="pull-right lightMarginTop"><i>No Sepa payments selected</i></small>
                            </ng-template>                                                           
                        </div>
                        <div class="col-md-2">                            
                            <button class="btn btn-xs btn-primary pull-right" (click)="executeFax()" style="margin-left: 5%" [disabled]="!totalFax">
                                <i class="fa fa-fax"></i>Create fax
                            </button>
                            <ng-container *ngIf="numberFaxSelected > 0; else noFaxSelected">
                                <span class="pull-right lightMarginTop"><span class="badge badge-pill badge-primary badge-sm" [tooltip]="numberFaxSelected + ' fax payments selected'">{{numberFaxSelected}}</span> &Sigma; : {{totalFax}}</span>  
                            </ng-container>
                            <ng-template #noFaxSelected>
                                <small class="pull-right lightMarginTop"><i>No fax payments selected</i></small>  
                            </ng-template>                                                                                
                        </div>

                    </div>
                </div>
            </div>
        </nav>
        <ngx-datatable #table [selected]="selected" [selectionType]="'multiClick'" [limit]="defaultPageSize" class="wealins-theme"
            [displayCheck]="displayCheck" [rows]="payments" [sorts]="[defaultSort]" [columnMode]="'flex'"
            [footerHeight]="'auto'" [rowHeight]="'auto'" [selectAllRowsOnPage]="false" [headerHeight]="'auto'"
            [messages]="tableMessages" (select)="onSelect($event)">
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                <ng-template ngx-datatable-header-template><input type="checkbox" (change)="toggleAll()" [(ngModel)]="toggleAllCheck"/></ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false" [resizeable]="false" [flexGrow]="1.5">
                <ng-template ngx-datatable-header-template>Actions</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="center-content btn-palette" *ngIf="transferStatus.COMPTA === row.transferStatus">
                        <button class="btn btn-primary btn-circle" (click)="validate(row)">
                            <i class="fa fa-check" tooltip="Validate"></i>
                        </button>
                        <button class="btn btn-secondary btn-circle" (click)="refuse(row)">
                            <i class="fa fa-times" tooltip="Refuse"></i>
                        </button>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="transferStatus" [flexGrow]="2" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Status</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="center-content">
                        <transfer-status [transfer]="row"></transfer-status>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="transferId" [flexGrow]="1" [resizeable]="false">
                <ng-template ngx-datatable-header-template>ID</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.transferId}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="cps1Dt" [flexGrow]="1.5" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Date</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.trfDt | wdate}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="policyId" [flexGrow]="1.5" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Policy</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>                    
                    <a [href]="'#/policy?id=' + row.policyId" target="_blank">
                        <span class="text-nowrap">{{row.policyId}}</span>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="workflowItemId" [flexGrow]="1" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Ticket</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>                                        
                    <a [href]="'#/workflow/withdrawal?workflowItemId=' + row.workflowItemId" target="_blank">
                        <span class="text-nowrap">{{row.workflowItemId}}</span>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="trfMt" [flexGrow]="2" [resizeable]="false" [cellClass]="'text-right'">
                <ng-template ngx-datatable-header-template>Amount</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.trfMt | currencyFormatter: ",":" ":"":"":2:true}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="trfCurrency" [flexGrow]="1" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Curr.</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="center-content">{{row.trfCurrency}}</div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="libDonOrd" [flexGrow]="5" [resizeable]="false">
                <ng-template ngx-datatable-header-template>From</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.libDonOrd}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ibanDonOrd" [flexGrow]="4" [resizeable]="false">
                <ng-template ngx-datatable-header-template>From IBAN</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ibanDonOrd=='Not available' ? 'Not available' : row.ibanDonOrd| iban}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="swiftDonOrd" [flexGrow]="2" [resizeable]="false">
                <ng-template ngx-datatable-header-template>From BIC</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.swiftDonOrd}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="libBenef" [flexGrow]="3" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Beneficiary</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.libBenef}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ibanBenef" [flexGrow]="4" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Benef. IBAN</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ibanBenef |iban}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="swiftBenef" [flexGrow]="2" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Benef. BIC</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.swiftBenef}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="mode" [flexGrow]="1.5" [resizeable]="false">
                <ng-template ngx-datatable-header-template>Mode</ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>                    
                    <span *ngIf="row.mode === transferMode.FAX">Fax</span>
                    <span *ngIf="row.mode === transferMode.SEPA">Sepa</span>
                    <span *ngIf="row.mode === transferMode.SWIFT">SWIFT</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="userCompta" [flexGrow]="1" [resizeable]="false">
                <ng-template ngx-datatable-header-template><i class="fa fa-user"></i></ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.userCompta}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>    
    </div>
</div>