<ng-content select="[caption]"></ng-content>
<div class="client-policies">
    <div class="row">
        <div class="checkbox col-xs-4">
            <label>
                <input type="checkbox" [(ngModel)]="show.active" (change)="updateList()">
                <span class="cr">
                    <i class="cr-icon">&#x2714;</i>
                </span>Active</label>
            <label>
                <input type="checkbox" [(ngModel)]="show.pending" (change)="updateList()">
                <span class="cr">
                    <i class="cr-icon">&#x2714;</i>
                </span>Pending</label>
            <label>
                <input type="checkbox" [(ngModel)]="show.terminated" (change)="updateList()">
                <span class="cr">
                    <i class="cr-icon">&#x2714;</i>
                </span>Terminated</label>
        </div>
        <div class="line-break"></div>
        <div class="relative">
          <div [ngBusy]="[busy]">
            <table class="table dataTable table-striped table-hover nomargin fullwidth" role="grid">
                <thead>
                    <tr role="row">
                        <th>Policy</th>
                        <th>Date of effect</th>
                        <th>Relationship</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Product</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of policies | slice:(page-1)*pageSize:(pageSize*page)">
                        <td>
                            <a [attr.href]="'#/policy?id='+p.policy?.polId" target="_blank">{{p.policy?.polId }}</a>
                        </td>
                        <td>{{p.policy?.dateOfCommencement | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <div *ngFor="let role of p.roles">{{codeMapper[role.number] || role.description}}</div>
                        </td>
                        <td class="text-right">{{p.policy?.amount | currencyFormatter }}</td>
                        <td>{{p.policy?.currency }}</td>
                        <td>{{p.policy?.productName }}</td>
                        <td>{{p.policy?.policyStatus?.description }}</td>
                    </tr>
                </tbody>
                <tfoot *ngIf="policies && policies.length > pageSize">
                    <tr>
                        <td colspan="10" class="text-center">
                            <pagination class="text-center" [boundaryLinks]="true" [totalItems]="policies.length" [itemsPerPage]="pageSize" [(ngModel)]="page"
                                [maxSize]="10" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>

    </div>
      </div>
</div>