<div class="row">
    <div class="title col-md-5">Payment</div>
</div>
<div class="payment-row row" *ngFor="let payment of payments; let paymentIndex=index" [@addDeleteAnimation]>
    <cash-transfer
        [transferCandidates]="transferCandidates" 
        [deletable]="paymentIndex != 0" 
        [currencyList]="currencyList" 
        [payment]="payment" 
        [candidatesMap]="candidatesMap" 
        [mode]="mode"
        (onDelete)="deletePayment(paymentIndex)"
    >
    </cash-transfer>
</div>
<div class="row">
    <div class="col-md-1 col-md-offset-11">
        <button class="btn btn-xs btn-primary add-button" title="Add new payment" type="button" (click)="addPayment()"
            [desactive]="mode">
            <i class="fa fa-plus" aria-hidden="true"></i><span></span>
        </button>
    </div>
</div>