<section title="withdrawal-frund-transaction">    
    <div class="row">

        <div class="row" *ngIf="showSectionTitle">
            <div class="title">Fund transactions</div>
        </div>
        <div class="fund-transaction-table col-md-12">
            <table class="table dataTable table-striped table-hover fullwidth" role="grid">
                <thead>
                    <tr role="row">
                        <th></th>
                        <th style='width: 40%'>Fund</th>
                        <th>Units</th>
                        <th>Price</th>
                        <th>Price Date</th>
                        <th>Value</th>
                        <th style='width: 10%'>{{specificAmountByFund ? 'Percentage' : 'Share'}}</th>
                        <th>Policy value</th>
                        <th *ngIf="containsFidOrFas">Closure</th>
                    </tr>
                </thead>
                <tbody *ngIf="groupedHoldings">
                    <tr *ngFor="let fundTransaction of fundTransactions; let i = index">
                        <td><span class="fund-badge">{{ fundTransaction.fundTp?.trim() }}</span></td>
                        <td style="word-wrap: break-word">
                            <span><a highlight="text-danger" [pattern]="fundNameRegXp" target="_blank" [routerLink]="'/fund/'+ fundTransaction.fundTp?.trim() + '/' + fundTransaction.fundId">{{ !!fundTransaction.fund.displayName ? fundTransaction.fund.displayName : fundTransaction.fundId}}</a></span>
                            <div>
                                <div class="row justify-content-end">
                                    <div class="col-md-4" *ngIf="showInputs && specificAmountByFund">
                                        <label>Desinvest type</label>
                                    </div>
                                    <div class="col-md-4" *ngIf="fundTransaction?.fund.fundSubType=='FID' || fundTransaction?.fund.fundSubType=='FAS'">
                                        <label>Valuation Amount</label>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="col-md-4" *ngIf="showInputs && specificAmountByFund">
                                        <select aria-placeholder="input type" class="form-control input-sm text-left" [(ngModel)]="fundTransaction.inputType"
                                            [desactive]="mode" name="inputType" (change)="onTypeChange(fundTransaction)">
                                            <option [ngValue]="null" selected="selected"></option>
                                            <option *ngFor="let option of Object.keys(inputTypes)" [ngValue]="option">{{inputTypes[option]}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4" *ngIf="fundTransaction?.fund.fundSubType=='FID' || fundTransaction?.fund.fundSubType=='FAS'">
                                        <w-number [(number)]="fundTransaction.valuationAmt" css="form-control input-sm text-right input-amount-sm"
                                            [mode]="mode"></w-number>
                                    </div>
                                </div>                            
                            </div>
                        </td>
                        <td class="text-right">
                            {{ !!groupedHoldings[fundTransaction.fundId] ?(groupedHoldings[fundTransaction.fundId][0].units | currencyFormatter:",":" ":"":"":6) : 'N/A'}}
                            <div *ngIf="showInputs && specificAmountByFund && fundTransaction.inputType === 'UNITS'" class='cell-input'>
                                <label>Amount</label>
                                <w-number [(number)]="fundTransaction.units" css="form-control input-sm text-right input-amount-sm" [mode]="mode" [precision]="6"></w-number>
                            </div>
                        </td>
                        <td class="text-right">{{!!groupedHoldings[fundTransaction.fundId] ? (groupedHoldings[fundTransaction.fundId][0].price | currencyFormatter:",":" ":"":"":6) : 'N/A'}}</td>
                        <td>{{!!groupedHoldings[fundTransaction.fundId] ? (groupedHoldings[fundTransaction.fundId][0].priceDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
                        <td class="text-right">
                            {{!!groupedHoldings[fundTransaction.fundId] ? groupedHoldings[fundTransaction.fundId][0].holdingValueFundCurreny : 0 | currencyFormatter: ",":" ":"":"":2:true}} {{fundTransaction.fund.currency}}
                            <div *ngIf="showInputs && specificAmountByFund && fundTransaction.inputType === 'GROSS_AMOUNT'" class='cell-input'>
                                <label>Amount</label>
                                <w-number [(number)]="fundTransaction.amount" css="form-control input-sm text-right input-amount-sm" [mode]="mode"></w-number>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="!specificAmountByFund" class="form-inline text-center">
                                <label>{{fundTransaction.relativeShare}} %</label>
                            </div>
                            <ng-container *ngIf="showInputs && specificAmountByFund">
                                <div class="form-inline text-center"><label> -- </label></div>
                                <div *ngIf="fundTransaction.inputType === 'PERCENTAGE'" class='cell-input'>   
                                    <label>Percentage</label>
                                    <w-number [(number)]="fundTransaction.percentage" css="form-control input-sm text-right input-amount-sm" [mode]="mode"></w-number>
                                </div>
                                <div *ngIf="fundTransaction.inputType === 'ALL_FUND'" class='cell-input' style="width: 100%;margin-left: -1em;">
                                    <label>Percentage</label>
                                    <div>100%</div>
                                </div>
                            </ng-container>
                        </td>
                        <td class="text-right">{{!!groupedHoldings[fundTransaction.fundId] ? groupedHoldings[fundTransaction.fundId][0].holdingValuePolicyCurrency : 0 | currencyFormatter: ",":" ":"":"":2:true}} {{policyCurrency}}</td>
                        <td *ngIf="containsFidOrFas">
                            <div *ngIf="fundTransaction?.fund.fundSubType=='FID' || fundTransaction?.fund.fundSubType=='FAS'" class="form-group radio">
                                <label><input type="radio" [value]="true" [name]="'fundTransactionClosure_' + i" [(ngModel)]="fundTransaction.closure" [desactive]="mode"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>Yes</label>
                                <br />
                                <label><input type="radio" [value]="false" [name]="'fundTransactionClosure_' + i" [(ngModel)]="fundTransaction.closure" [desactive]="mode"><span class="cr"><i class="cr-icon fa fa-circle"></i></span>No</label>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="fundTransactions == null || fundTransactions.length == 0 || groupedHoldings == null || groupedHoldings.length == 0">
                        <td colspan="8" class="text-center"><p>No result found </p></td>
                    </tr>
                <tbody>
            </table>
        </div>

    </div>
</section>