<section subject="payment">
    <div class="row">
        <div class="title col-md-6 col-md-offset-1">Payment</div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <label for="" class="col-md-2 text-right marginTop ">Premium Country</label>
            <div class="col-md-2">
                <select class="form-control input-sm text-left" [ngModel]="premiumCountryCd"  (ngModelChange)="onPremiumCountryCdChange($event)" id="countryCd" name="countryCd" [desactive]="mode">
                    <option value=""></option>
                    <option *ngFor="let c of (countriesObservable | async | orderBy: ['name'])" [ngValue]="c.ctyId">{{c.name}}</option>
                </select>
            </div>
            <label class="control-label col-md-2">Re-invest</label>
            <div class="radio col-md-2">
                <label class="radio-inline">
                    <input class="form-control input input-sm" [desactive]="transfertMode" type="radio" name="paymentTransfer" [value]="true" [checked]="paymentTransfer"
                        [ngModel]="paymentTransfer" (ngModelChange)="onPaymentTransferChange($event)">
                    <span class="cr">
                        <i class="cr-icon fa fa-circle"></i>
                    </span>
                    Yes
                </label>
                <label class="radio-inline">
                    <input class="form-control input input-sm" [desactive]="transfertMode" type="radio" name="paymentTransfer" [value]="false" [checked]="!paymentTransfer"
                        [ngModel]="paymentTransfer" (ngModelChange)="onPaymentTransferChange($event)">
                    <span class="cr">
                        <i class="cr-icon fa fa-circle"></i>
                    </span>
                    No
                </label>
            </div>

            <label class="control-label col-md-1">Transfer</label>
            <div class="radio col-md-2">
                <label class="radio-inline">
                    <input class="form-control input input-sm" [desactive]="transfertMode" type="radio" name="policyTransfer" [value]="true" [checked]="policyTransfer"
                        [ngModel]="policyTransfer" (ngModelChange)="onPolicyTransferChange($event)">
                    <span class="cr">
                        <i class="cr-icon fa fa-circle"></i>
                    </span>
                    Yes
                </label>
                <label class="radio-inline">
                    <input class="form-control input input-sm" [desactive]="transfertMode" type="radio" name="policyTransfer" [value]="false" [checked]="!policyTransfer"
                        [ngModel]="policyTransfer" (ngModelChange)="onPolicyTransferChange($event)">
                    <span class="cr">
                        <i class="cr-icon fa fa-circle"></i>
                    </span>
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <policy-transfer-input *ngIf="policyTransfer || paymentTransfer" [policyTransfers]="policyTransferForms" (policyTransfersChange)="onPolicyTransferFormsChange($event)" [mode]="transfertMode"></policy-transfer-input>
    </div>
    <div class="row">
        <label class="col-md-2 text-right marginTop">Amount</label>
        <div class="col-md-3 form-inline">
            <w-number [number]="paymentAmt" (numberChange)="onNumberChange($event)" css="form-control input-sm text-right input-amount" [mode]="mode" ></w-number><span>{{ contractCurrency }}</span>
            <div *ngIf="paymentAmt && expectedPremium && paymentAmt !== expectedPremium" class="text-warning">&#9888;&nbsp;The amount differs from the expected premium</div>
        </div>
        <label class="col-md-2 col-md-pull-1 text-right marginTop ">Date of Effect</label>
        <div class="col-md-3 col-md-pull-1">
            <datepicker [disabled]="mode === stateMode.readonly" [date]="paymentDt" (dateChange)="onPaymentDtChange($event)"></datepicker>
        </div>
    </div>
</section>